.modal {
  &Container {
    background-color: $primary-background;
    padding: 24px 24px 40px 24px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: calc(100vh - 78px);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation-duration: 0.3s;
    animation-fill-mode: forwards;

    &.opening {
      animation-name: slideIn;
    }

    @media screen and (min-width: $breakpoint-tablet-lg) {
      width: calc(100% - 48px);
      border-radius: 24px;
      height: calc(100vh - 102px);
      margin-bottom: 24px;
    }
  }

  &HeaderWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    @media screen and (min-width: $breakpoint-tablet-lg) {
      justify-content: center;
    }
  }

  &Title {
    @include heading-2;
    color: $primary-black;
  }

  &CloseIcon {
    cursor: pointer;
    @media screen and (min-width: $breakpoint-tablet-lg) {
      position: absolute;
      right: 72px;
      top: -5.5%;
    }
  }
}

.backgroundOverlay {
  background: $primary-black;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;

  &.opening {
    animation-name: fadeIn;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
