@import 'styles/calc';
@import 'styles/variables';

figure {
  margin: 0px;
}

.dot {
  min-width: vw-calc(3);
  min-height: vw-calc(2);
  border-radius: 50%;
  background: $dot-color;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  box-sizing: border-box;

  &:before {
    content: '';
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 182px;
    opacity: 0.2;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
  }

  .sectionBreaker {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: vw-calc(120);

    img {
      width: 100%;
      height: auto;
    }
  }

  .topSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    height: vw-calc(805);

    .idea {
      color: $light-primary;
      font-size: vw-calc(14);
      line-height: vw-calc(16);
      font-weight: 500;
      letter-spacing: vw-calc(1);
      margin-bottom: vw-calc(24);
    }

    .title {
      text-align: center;
      max-width: vw-calc(750);
      color: $tertiary;
      font-size: vw-calc(48);
      letter-spacing: vw-calc(-2);
    }

    .image {
      position: absolute;
      object-fit: contain;
      width: vw-calc(100);
      height: vw-calc(100);
      display: flex;
      justify-content: center;
      align-items: flex-start;

      &.first {
        top: vw-calc(480);
        left: vw-calc(53);
      }

      &.second {
        top: vw-calc(292);
        left: vw-calc(200);
      }

      &.third {
        top: vw-calc(750);
        left: vw-calc(200);
      }

      &.fourth {
        top: vw-calc(600);
        left: vw-calc(475);
      }

      &.fifth {
        top: vw-calc(420);
        left: vw-calc(650);
      }

      &.sixth {
        top: vw-calc(540);
        left: vw-calc(900);
      }

      &.seventh {
        top: vw-calc(370);
        left: vw-calc(1115);
      }

      &.eighth {
        top: vw-calc(244);
        left: vw-calc(1245);
      }

      &.ninth {
        top: vw-calc(650);
        left: vw-calc(1220);
      }
    }
  }

  .sponsorSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: vw-calc(160);

    &:last-child {
      margin-bottom: 0;
    }

    img {
      width: vw-calc(185);
      height: vw-calc(140);
    }

    .sponsorTier {
      margin-top: vw-calc(16);
      color: $light-primary;
      text-transform: uppercase;
      line-height: vw-calc(24);
      font-size: vw-calc(14);
    }

    .goldenRow {
      margin-top: vw-calc(80);
      display: flex;
      flex-direction: row;

      .sponsor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        width: vw-calc(320);

        img {
          width: vw-calc(320);
          height: auto;
          object-fit: fill;
        }

        .name {
          color: $primary;
          font-size: vw-calc(24);
          margin-top: vw-calc(16);
          line-height: vw-calc(32);
          text-transform: uppercase;
          font-weight: 500;
        }

        .dots {
          width: 100%;
          display: flex;
          justify-content: center;
          column-gap: vw-calc(6);
          overflow: hidden;
          height: vw-calc(2);
          margin-top: vw-calc(16);
        }

        .openPositions {
          margin-top: vw-calc(16);
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-content: center;
          text-transform: uppercase;

          .label {
            color: $light-primary;
            font-size: vw-calc(14);
            font-weight: 500;
            line-height: vw-calc(24);
            letter-spacing: vw-calc(1);
          }

          .ellipse {
            width: vw-calc(40);
            height: vw-calc(20);
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            background: $tertiary;
            display: flex;
            z-index: 1;

            .number {
              margin-top: vw-calc(2);
              color: $number-color;
              font-size: vw-calc(13);
              font-weight: 500;
              z-index: 2;
              line-height: vw-calc(21);
              text-align: center;
            }
          }
        }
      }
    }

    .logos {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      column-gap: vw-calc(16);
      margin-top: vw-calc(32);

      .logo {
        width: vw-calc(330);
        height: vw-calc(215);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;

        img {
          width: vw-calc(110);
          height: vw-calc(110);
          object-fit: cover;
        }

        .horizontalDots {
          position: absolute;
          bottom: 0;
          left: 0;
          width: vw-calc(321);
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: vw-calc(4);
        }

        .verticalDots {
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: vw-calc(215);
          display: flex;
          justify-content: center;
          align-items: center;
          gap: vw-calc(4);
        }
      }
    }
  }

  .sectionBreakerEnd {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }
}
