* {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.flex {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
}

strong {
  font-weight: bold;
}

.scannerContainer {
  width: 90vw;
  max-width: 400px;
}

.sectionGap {
  margin-top: 1.5rem;
}

.searchInput {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 250px;
}

.flexBetween {
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
