.hero {
  height: 100vh;
  padding: 24px;
  transition: 200ms;
  position: relative;
  background-color: #171615;

  &:before {
    content: '';
    background-image: url(../../assets/images/noise.webp);
    opacity: 0.5;
    mix-blend-mode: soft-light;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .content {
    background-image: url('../../assets/images/temporary-hero-background.webp');
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    align-items: flex-end;
  }

  .mobileContent {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 0;

    .mobileContent {
      display: block;
      position: absolute;
      width: 100%;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      padding: 0 16px;
      max-width: 500px;

      .button {
        width: 100%;
      }

      .text {
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        color: white;
        margin-top: 30px;
        line-height: 16px;
      }
    }
  }
}
