.container{
    display: flex;
    flex-direction: column;
    gap:16px;
    padding:32px;
}

.scannerContainer {
  width: 90vw;
  max-width: 400px;
  position: 'relative'; 
}

.controls{
  display: flex;
  gap: 8px;
  margin-top: 8px;
  padding: 8px;
}