$breakpoint-mobile: 320px;
$breakpoint-mobile-lg: 480px;

$breakpoint-tablet: 768px;
$breakpoint-tablet-lg: 1024px;

$breakpoint-desktop: 1200px;
$breakpoint-desktop-lg: 1440px;

$mobile-navigation-height: 78px;
