// Primary Colors
$primary-black: #171615;
$primary-white: #ffffff;
$primary-background: #fdfdfd;
$primary-beige: #f5ede1;
$primary-highlight: #ff482f;
$primary-muted-orange: #e0553f;

// Grayscale
$black-100: #171615;
$black-90: #2d2c2c;
$black-70: #5a5959;
$black-50: #868685;
$black-30: #b3b3b2;
$black-10: #e0e0df;
$black-5: #ebebeb;

// System colors
$error-light: #cd0000;
$error-dark: #ff3737;
