@import './fonts';

@mixin heading-1 {
  font-family: NeueMachina;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -1%;
}

@mixin heading-2 {
  font-family: NeueMachina;
  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: -1%;
}

@mixin heading-3 {
  font-family: NeueMachina;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: -1%;
  font-weight: 500;
}

@mixin heading-4 {
  font-family: NeueMachina;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: -1%;
}

@mixin label-large {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0%;
}

@mixin label-medium {
  font-family: Inter;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 0%;
}

@mixin label-small {
  font-family: Inter;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 2%;
}

@mixin paragraph-16 {
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: -1%;
}

@mixin paragraph-14 {
  font-family: Inter;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -1%;
}

@mixin tag-16 {
  font-family: NeueMontrealMono;
  font-size: 1rem;
  line-height: 1.125rem;
  letter-spacing: 0%;
}

@mixin tag-14 {
  font-family: NeueMontrealMono;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0%;
}

@mixin dottedBreak($color: $black-30, $size: 2px) {
  width: 100%;
  height: $size;
  background-image: radial-gradient(circle, $color 0.8px, transparent 0.3px);
  background-size: 8px $size;
  background-repeat: repeat-x;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
}

@mixin dottedBreakVertical($color: $black-30, $size: 2px) {
  width: $size;
  height: 100%;
  background-image: radial-gradient(circle, $color 0.8px, transparent 0.3px);
  background-size: $size 8px;
  background-repeat: repeat-y;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
}

@mixin roundedContainer(
  $color: $primary-background,
  $breakpoint: $breakpoint-tablet
) {
  background: $color;
  border-radius: 1rem;
  height: auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0 1.5rem 1.5rem 1.5rem;

  @media screen and (max-width: $breakpoint) {
    margin: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@mixin mobileNavigationPadding($additional: 0px) {
  @media screen and (max-width: $breakpoint-tablet) {
    padding-bottom: calc($mobile-navigation-height + $additional);
  }
}
