.container{
    display: flex;
    flex-direction: column;
    gap:16px;
    padding:32px;
}

.scannerContainer {
  width: 90vw;
  max-width: 400px;
  position: 'relative'; 
}

.instructions {
  font-size: 18px;
  color: #555;
}