.notification {
  &Wrapper {

    position: relative;
    padding: 4px 6px;
    border-radius: 6px;
    max-height: 36px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover {
      background-color: $black-90;
    }
  }

  &Icon {
    margin: 0;
    padding: 0;
  }

  &Badge {
    position: absolute;
    top: -8px;
    right: -7px;

    width: 24px;
    height: 23px;

    background-color: $primary-highlight;
    border: 2px solid $primary-black;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    @include heading-3;
    color: $primary-white;
    font-weight: 500;
  }

  @media (max-width: $breakpoint-mobile-lg) {
    &Wrapper {
      margin-right: 10px;
    }
  }
}
