.page {
    background-color: $primary-black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 24px;

    @media (max-width: $breakpoint-tablet) {
      padding: 0;
  }
  
    .header {
    //   width: 100%;
    //   height: 300px; // Temporary 
    //   display: flex;
    //   justify-content: center;

    //   @media (max-width: $breakpoint-tablet) {
    //     height: 350px;
    //     justify-content: flex-end;
    //   }

    }
  
    .main {
      width: 100%;
      height: 100%;
      background-color: $primary-background;
      border-radius: 12px;
      display: flex;
      justify-content: center;
    }
}
  