@font-face {
  font-family: Inter;
  src: url('../assets/fonts/inter-variable.ttf') format('truetype');
  font-weight: 100 900;
}

@font-face{
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SF-pro-display.OTF') format('opentype');
  font-weight: 100 900;
}

@font-face{
  font-family: "Cascadia Mono";
  src: url('../assets/fonts/cascadia-mono.ttf') format('truetype');
  font-weight: 100 900;
}