.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  img {
    cursor: pointer;
  }
}

.headerContainer {
  padding-top: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
  background: $primary-black;
  height: 300px;
}

.title {
  @include heading-2;
  color: $white-text;
  font-weight: 500;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 6px;
  color: $white-text;

  img {
    width: 79px;
    height: 44px;
  }
}
