.compactScheduleCard {
  width: 100%;
  display: flex;
  background-color: $black-5;
  box-sizing: border-box;
  padding: 24px;
  flex-direction: column;
  gap: 12px;

  p {
    margin: 0;
  }

  .timeframe {
    @include tag-16;
  }

  .divider {
    @include dottedBreak;
  }

  .headerRow {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .infoWrapper {
      display: flex;
      align-items: center;
      gap: 8px;

      .tag {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 24px;
        background-color: $primary-muted-orange;
        border-radius: 50%;

        .theme {
          color: $primary-white;
          @include heading-4;
        }
      }

      .type {
        @include tag-14;
      }
    }

    .live {
      display: flex;
      align-items: center;
      gap: 4px;

      @keyframes outer-circle-animation {
        0% {
          border: 1px solid rgba($primary-highlight, 0.3);
        }
        50% {
          border: 1px solid rgba($primary-highlight, 1);
        }
        100% {
          border: 1px solid rgba($primary-highlight, 0.3);
        }
      }

      @keyframes inner-circle-animation {
        0% {
          background-color: rgba($primary-highlight, 0.3);
        }
        50% {
          background-color: rgba($primary-highlight, 1);
        }
        100% {
          background-color: rgba($primary-highlight, 0.3);
        }
      }

      .icon {
        position: relative;
        height: 14px;
        width: 14px;
        border-radius: 100%;
        border: 1px solid $primary-highlight;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: outer-circle-animation 2s infinite;
        animation-delay: 0.2s;

        .innerCircle {
          height: 6px;
          width: 6px;
          border-radius: 100%;
          background-color: $primary-highlight;
          animation: inner-circle-animation 2s infinite;
        }
      }

      .liveText {
        @include tag-14;
      }
    }
  }
}
