.compactScheduleCard {
  width: 100%;
  display: flex;
  background-color: $black-5;
  box-sizing: border-box;
  padding: 24px;
  flex-direction: column;
  gap: 12px;

  p {
    margin: 0;
  }

  .timeframe {
    @include tag-16;
  }

  .divider {
    @include dottedBreak;
  }

  .headerRow {
    .infoWrapper {
      display: flex;
      align-items: center;
      gap: 8px;

      .tag {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 24px;
        background-color: $primary-muted-orange;
        border-radius: 50%;

        .theme {
          color: $primary-white;
          @include heading-4;
        }
      }

      .type {
        @include tag-14;
      }
    }
  }
}
