.table {
  display: block;
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
}

.th,
.td {
  padding: 8px 16px;
  background-color: #fff;
}

.th {
  font-weight: 600;
  border: 1px solid #5cc2a045;
}

.td {
  border: 1px solid #5cc2a045;
}

.actions {
  display: flex;
  gap: 4px;
}
