.page {
  width: 100%;
  background-color: #0e0e0e;
  min-height: calc(100vh - 88px);

  .content {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 24px 0;
  }
}

.page .itemsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  margin-top:20px;
  padding: 16px;
  display: flex;
  justify-content: space-between;

  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.item:hover {
  background: rgba(255, 255, 255, 0.05);
  border-color: rgba(255, 255, 255, 0.05);
}

.itemInfo {
  display: flex;
  align-items: center;
  gap: 12px;

  color: #fff;
  font-size: 14px;
  font-weight: 400;

  .itemIndex {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  .itemDescription {
    color: #ffffffcc;
  }

  div {
    h4 {
      font-weight: 700;
      margin: 0;
    }

    p {
      opacity: 0.5;
      margin: 0;
    }
  }
}

.itemAction {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}

.jobsCount {
  position: absolute;
  left: -30px;
  color: #ffffff80;
  font-size: 14px;
}

.statusChip {
  display: flex;
  align-items: center;
  gap: 16px;

  img {
    height: 20px;
    width: 20px;
  }

  p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }
}

.titleSection {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #27292e;
  background: rgba(39, 41, 46, 0.5);
  box-sizing: border-box;
  padding: 24px;
  margin-bottom: 20px;
  position: relative;

  .title {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    margin-bottom: 12px;
  }

  .buttons {
    position: absolute;
    right: 24px;
    top: 50%;
    translate: 0 -50%;
    display: flex;
    gap: 16px;
  }
}

.noApplicants {
  text-align: center;
  margin-top: 40px;
}

.table {
  width: 100%;
  text-align: left;
  border-spacing: 12px;
  table-layout: fixed;

  th,
  td {
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;

    &:nth-child(1) {
      width: 75px;  
    }
    &:nth-child(2) {
      width: 200px; 
    }
    &:nth-child(3) {
      width: 200px; 
    }
    &:nth-child(4) {
      width: 162px; 
    }
    &:nth-child(5) {
      width: 140px; 
    }
    &:last-child {
      width: auto;  
      text-align: right;
    }
  }

  th {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

.break {
  border-color: rgba(255, 255, 255, 0.2);
}
