.textareaContainer {
  position: relative;
}

.textarea {
  height: 150px;
  max-height: 300px;
  padding: 16px 18px;
  width: 100%;
  resize: vertical;
  border-radius: 16px;
  background: #110f14;
  color: white;
  outline: none;
  border: none;
  font-size: 16px;

  ::placeholder {
    color: rgba(255, 255, 255, 0.4);
  }
}

.wc {
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  bottom: 0;
  right: 18px;
  font-weight: 700;
}

.error {
  color: #b40000;
  font-size: 14px;
}
