.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.title {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.33px;
  margin: 0;
  margin-bottom: 8px;
}

.description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 24px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  border-radius: 12px;
  background: #fff;
  width: 100%;
  cursor: pointer;
  margin-top: auto;
  font-weight: bold;
  border: none;
  margin-top: 20px;
  transition: background-color 0.1s ease-in-out;
  padding: 0 16px;
  height: 56px;
  flex-shrink: 0;

  &:hover {
    background-color: color-mix(in srgb, #fff 90%, #000 10%);
  }

  &.smallButton {
    gap: 8px;
    background: #080407;
    color: #ffffff;
    border: 1px solid #ffffff33;
    margin-bottom: 16px;
    transition:
      background 0.3s ease-in-out,
      color 0.3s ease-in-out;

    &:hover {
      background: #ffffff;
      color: #000000;
    }

    &::before {
      content: '+';
      font-weight: 700;
      font-size: 24px;
      margin-right: 8px;
    }
  }
}

.addPersonContainer {
  display: flex;
  flex-direction: column;
}

.smallButton {
  width: 50%;
  align-self: center;
  margin: 0 auto;
}

.personList {
  list-style: none;
  padding: 0;
  margin: 0 0 16px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.personRow {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.personItem {
  display: flex;
  width: 100%;
  background: #1a1a1a;
  padding: 12px;
  border-radius: 8px;
  color: #fff;
}

.removePersonButton {
  background: #080407;
  color: #ffffff;
  border: 1px solid #ffffff33;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    background: #ffffff;
    color: #000000;
  }
}

