.messageDuck {
  width: 226px;
  height: 226px;
  border-radius: 50%;
  overflow: hidden;
  background: $black-90;
  z-index: 1;
  position: relative;

  .duck {
    width: 85%;
    height: 85%;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-48%, 0);
  }

  .text {
    position: absolute;
    text-align: center;
    display: block;
    color: $black-70;
    z-index: 3;
    top: 51%;
    left: 71.5%;
    font-size: 1.5rem;
    width: 80px;
    line-height: 20px;
    font-size: 16px;
    transform: translate(-50%, -50%) rotate(18deg);
    @include heading-3;
  }

  .progressRing {
    border-radius: 50%;

    background: rgba($black-30, 0.2);
    $thicc: 105px;
    -webkit-mask: radial-gradient(transparent $thicc, #000 $thicc);
    mask: radial-gradient(transparent $thicc, #000 $thicc);

    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
