.headerCardsWrapper {
    display: flex;
    gap: 7px;
    justify-content: center;

    @media (max-width: $breakpoint-tablet) {
        justify-content: stretch;

        & > * {
            flex-grow: 1;
            max-width: none;
        }
    }

    @media (max-width: 600px) {
        flex-wrap: wrap;

        & > * {
            flex: 1 1 calc(50% - 4px);
            min-width: calc(50% - 4px);
        }
    }
}
