.headerCardsWrapper{
    display: flex;
    gap: 7px;
    justify-content: center;
}

@media (max-width: $breakpoint-tablet) { 
    .headerCardsWrapper {
        justify-content: stretch;

        & > * {
            flex-grow: 1;
            max-width: none;
        }
    }
}