.authFooter{
    display: flex;
    justify-content: space-between;
    font-family: Inter;
    color: $primary-black;
    margin-top: -16px ;

    a {
        cursor: pointer;
    }

    a:first-child{
        opacity: 0.6;
    }
    a:last-child{
        font-weight: 600;
    }
}