.inputFieldsWrapper{
    display: flex;
    flex-direction: column;

    gap: 40px;
    width: 422px; //TODO prominit kasnije u width 100%
}

.checkboxFieldsWrapper{
    margin-block: 56px 48px; //TODO riješi kasnije s parent wrapperom i gapom
}