.backlight {
  position: absolute;
  top: 0;
  z-index: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: auto;

  .title {
    color: white;
    @include heading-2;
    font-weight: 500;
    margin-top: 94px;
    margin-bottom: 12px;
  }

  .paragraph {
    color: $black-30;
    @include paragraph-16;
    margin-bottom: 82px;
  }

  .button {
    width: 100%;
  }
}
