* {
  box-sizing: border-box;
  font-family: 'PP Neue Machina', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-feature-settings: 'ss12' on;
}

body {
  margin: 0;
  background-color: #f3eadc;
  overflow-x: hidden;
}

@font-face {
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/PPNeueMachina-PlainMedium.woff2') format('woff2');
  font-display: fallback;
}

@font-face {
  font-family: 'PP Neue Montreal Mono';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/PPNeueMontrealMono-Medium.woff2') format('woff2');
  font-display: fallback;
}
