//TODO variables for colors
.input {
  &Area {
    position: relative;
    margin-right: 15px;

    &Container {
      border: rgba(255, 255, 255, 0.4);
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23333' stroke-width='1' stroke-dasharray='8%2c8' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
      border-radius: 16px;
      margin-bottom: 8px;
      background-color: rgba(25, 26, 32, 0.3);
    }

    &Label {
      color: #fff;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;

      > div {
        height: 326px;
      }
    }
  }
  &Field {
    display: flex;
    width: 491px;
    height: 326px;
    padding: 40px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    background: rgba(25, 26, 32, 0.3);
    border-radius: 16px;

    &Label {
      display: flex;
      max-width: 150px;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);

      > p {
        margin: 0px;
      }
    }
  }
}

.labelArea {
  margin-bottom: 24px;
  position: sticky;
  &Title {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 4px;
  }
  &Content {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}

body {
  background: #080407;
}
