ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 32px;
  width: 100%;
  justify-content: space-between;
  align-items: start;

  .choice {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    width: 35%;

    .title {
      font-size: 24px;
      font-weight: 800;
      font-family: Fuse;
      color: #fff;
      margin-bottom: 32px;
    }

    .spots {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      gap: 12px;
      flex-direction: row;
      user-select: none;
    }

    .spot {
      box-sizing: border-box;
      width: 80px;
      height: 60px;
      color: #ffffff;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #110f14;
      border-radius: 10px;
      cursor: pointer;

      .text {
        font-size: 24px;
        transition:
          background-color 0.3s,
          color 0.3s;
        font-family: Fuse;
        height: 100%;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.chosen {
        background-color: white;
        color: #000000;
      }

      &.taken {
        color: rgba(255, 255, 255, 0.2);

        cursor: not-allowed;

        &:hover {
          background-color: #110f14;
        }
      }
    }

    .button {
      margin-top: 32px;

      font-size: 20px;
      font-weight: 900;
      color: black;
      box-sizing: border-box;
      height: 56px;
      padding: 0 24px;
      border-radius: 20px;
      cursor: pointer;

      border: none;
      background-color: white;
      transition: background-color 0.1s ease-in-out;

      &:hover {
        background-color: color-mix(in srgb, #fff 90%, #000 10%);
      }
    }

    .confirmation {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 0;

      .header {
        font-size: 24px;
        font-weight: 800;
        font-family: Fuse;
        color: #fff;
        margin-bottom: 54px;
      }

      .mainTitle {
        font-size: 50px;
        font-weight: 800;
        font-family: Fuse;
        color: #fff;
        line-height: title;
        margin-bottom: 24px;
        line-height: normal;
      }

      .desc {
        font-size: 16px;
        font-weight: 400;
        font-family: Fuse;
        color: #fff;
        margin-bottom: 40px;
        line-height: 1.5;
        opacity: 0.5;
      }

      .button {
        width: 100%;
        margin-top: 0;
      }
    }
  }

  .map {
    width: 60%;
    height: auto;
    margin-top: 24px;

    img {
      width: 100%;
    }
  }
}