ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 13vw;
  width: 100%;
  margin-top: 5.5vw;
  justify-content: center;
  align-items: start;

  .choice {
    display: flex;
    flex-direction: column;
    margin-top: 3.5vw;
    width: 31vw;

    .title {
      font-size: 1.5vw;
      font-weight: 800;
      font-family: Fuse;
      color: #fff;
      margin-bottom: 5vw;
    }

    .spots {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      column-gap: 10px;
      row-gap: 24px;
      flex-direction: row;
      user-select: none;
    }

    .spot {
      box-sizing: border-box;
      width: 7.2vw;
      height: 5vw;
      color: #ffffff;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #110f14;
      border-radius: 10px;
      cursor: pointer;

      .text {
        font-size: 2.5vw;
        transition:
          background-color 0.3s,
          color 0.3s;
        font-family: Fuse;
        height: 100%;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.chosen {
        background-color: #d0d0d0;
        color: #000000;
      }

      &.taken {
        color: rgba(255, 255, 255, 0.2);

        cursor: not-allowed;

        &:hover {
          background-color: #110f14;
        }
      }
    }

    .button {
      margin-top: 16px;

      font-size: 20px;
      font-weight: 400;

      box-sizing: border-box;
      height: 56px;
      padding: 0 24px;
      border-radius: 20px;
      cursor: pointer;

      border: none;
      background-color: white;
      transition: background-color 0.1s ease-in-out;

      &:hover {
        background-color: color-mix(in srgb, #fff 90%, #000 10%);
      }
    }
  }

  .map {
    width: 43.75vw;
    height: auto;

    img {
      width: 100%;
    }
  }
}
