.ofXHidden {
  overflow-x: hidden;
}

.schedule {
  &SectionWrapper {
    width: 100vw;
    position: relative;
    background-color: #f5ede1;
    padding-bottom: 64px;
  }

  &SectionWrapper:before {
    content: '';
    background-image: url(../../assets/images/noise.webp);
    opacity: 0.15;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }

  &Section {
    max-width: 1440px;
    margin: 0 auto;
    padding: 33px;
    z-index: 2;
  }

  &Header {
    opacity: 1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 98px;
  }

  &Card {
    opacity: 1;
    display: flex;
    padding: 35px 78px;
    padding-bottom: 10px;
    justify-content: space-between;
    position: relative;

    &Left {
      margin-right: 145px;

      &Wrapper {
        display: flex;
        margin-right: 10px;
      }
    }

    &Center {
      display: flex;
      margin-bottom: 6px;
    }

    &CenterWrapper {
      max-width: 750px;
    }

    &Title {
      color: #171615;
      font-family: 'PP Neue Machina', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      margin: 0;
      margin-right: 150px;
      cursor: pointer;
    }

    &Subtitle {
      color: rgba(23, 22, 21, 0.6);
      font-family: 'PP Neue Montreal Mono', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 16px;
      margin-right: 150px;
      cursor: pointer;
    }

    &TitleWrapper {
      margin-bottom: 8px;
    }

    &Container {
      overflow-x: clip;
      margin: 0px 24px;
    }

    &Description {
      color: #6f6c66;
      font-family: 'PP Neue Machina', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      max-width: 648px;
    }
  }

  &Button {
    cursor: pointer;
    padding: 16px 24px;
    background-color: transparent;
    border: none;
    border-bottom: 3px transparent;
    color: #171615;
    font-feature-settings: 'ss03' on;
    font-family: 'PP Neue Montreal Mono', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;

    &Focused {
      color: #ff482f;
      border-bottom: 3px solid #ff482f;
    }
  }
}

.themeBadge {
  width: 46px;
  height: 24px;
  padding: 12px 23px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: #ff482f;
  display: flex;
  align-items: center;
  justify-content: center;

  &Text {
    margin: 0;
    color: #fff;
    font-family: 'PP Neue Montreal Mono', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.timeText {
  color: #171615;
  font-feature-settings: 'ss03' on;
  font-family: 'PP Neue Montreal Mono', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  min-width: 130px;
  text-align: right;
}

.eventTypeText {
  color: rgba(23, 22, 21, 0.6);
  font-family: 'PP Neue Montreal Mono', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: right;
  margin-top: 8px;
}

.dottedRuler {
  letter-spacing: 4px;
  font-size: 10px;
  color: #88888888;
}

.plusButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.speakerPhoto {
  position: absolute;
  z-index: 2;
  top: -26px;
  right: 150px;
  transform: rotate(-5deg);
}
.nonClickable{
  cursor: text;
}

@media screen and (max-width: 1000px) {
  .scheduleCardLeft {
    margin-right: 80px;
  }

  .scheduleHeaderRight {
    display: none;
  }
}

@media screen and (max-width: 930px) {
  .scheduleCardTitle {
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .scheduleSection {
    padding: 16px;
  }

  .scheduleHeader {
    justify-content: center;
  }

  .plusButton {
    display: none;
  }

  .scheduleCard {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }

  .scheduleCardLeftWrapper {
    width: 100%;
    flex-direction: column;
  }

  .scheduleCardLeft {
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  .eventTypeText {
    margin: 0;
  }

  .themeBadge {
    margin-right: 8px;
  }

  .scheduleCardTitle {
    font-size: 16px;
  }

  .scheduleCardSubtitle {
    margin-right: 0;
    margin-left: 54px;
  }
}

@media screen and (max-width: 382px) {
  .scheduleButton {
    padding: 8px 12px;
    font-size: 12px;
  }
}
