@use '../../styles/mixins';

.ofXHidden {
  overflow-x: hidden;
}

.schedule {
  &SectionWrapper {
    width: 100vw;
    position: relative;
    background-color: #f5ede1;
    padding-bottom: 64px;
  }

  &SectionWrapper:before {
    content: '';
    background-image: url(../../assets/images/noise.webp);
    opacity: 0.15;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }

  &Section {
    max-width: 1440px;
    margin: 0 auto;
    padding: 33px;
    z-index: 2;
  }

  &Header {
    opacity: 1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 98px;
  }

  &Card {
    opacity: 1;
    display: flex;
    padding: 35px 0;
    padding-bottom: 10px;
    justify-content: space-between;
    position: relative;

    &Left {
      margin-right: 145px;

      &Wrapper {
        display: flex;
        margin-right: 10px;
      }
    }

    &Center {
      display: flex;
      margin-bottom: 6px;
    }

    &CenterWrapper {
      flex: 1;
    }

    &Title {
      color: #171615;
      font-family: 'PP Neue Machina', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      margin: 0;
      cursor: pointer;
      word-break: break-word;
    }

    &Subtitle {
      color: rgba(23, 22, 21, 0.6);
      font-family: 'PP Neue Montreal Mono', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 16px;
      cursor: pointer;
    }

    &TitleWrapper {
      margin-bottom: 8px;
    }

    &Container {
      overflow-x: clip;
      margin: 0;
    }

    &Description {
      color: #6f6c66;
      font-family: 'PP Neue Machina', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      max-width: 648px;
    }
  }

  &Button {
    cursor: pointer;
    padding: 16px 24px;
    background-color: transparent;
    border: none;
    border-bottom: 3px transparent;
    color: #171615;
    font-feature-settings: 'ss03' on;
    font-family: 'PP Neue Montreal Mono', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;

    &Focused {
      color: #ff482f;
      border-bottom: 3px solid #ff482f;
    }
  }
}

.themeBadge {
  @include mixins.themeBadge();
  width: 53px;
  height: 24px;
  padding: 12px 23px;
  margin-right: 16px;
  background-position: -6.359px -3.65px;
}

.timeText {
  color: #171615;
  font-feature-settings: 'ss03' on;
  font-family: 'PP Neue Montreal Mono', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  min-width: 130px;
  text-align: right;
}

.eventTypeText {
  color: rgba(23, 22, 21, 0.6);
  font-family: 'PP Neue Montreal Mono', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: right;
  margin-top: 8px;
}

.dottedRuler {
  @include mixins.dottedBreak();
}

.plusButton {
  fill: black;
  background-color: transparent;
  border: none;
  z-index: 10;
  cursor: pointer;
}

.speakerPhoto {
  position: absolute;
  z-index: 2;
  top: -20px;
  right: 220px;

  @media screen and (max-width: 1180px) {
    right: 180px;
  }
}

.stampWrapper {
  position: relative;
  width: 130px;
  aspect-ratio: 437 / 593;
  overflow: hidden;
  mask-image: url(../../assets/icons/stamp.svg);
  -webkit-mask-image: url(../../assets/icons/stamp.svg);
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.stampCard {
  position: relative;
  width: 130px;
  aspect-ratio: 437 / 593;
  overflow: hidden;
  mask-image: url(../../assets/icons/stamp.svg);
  -webkit-mask-image: url(../../assets/icons/stamp.svg);
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.stampBackground {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.stampImage {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transform: scale(1.15);
}

.stampMicrophone {
  position: absolute;
  bottom: -30px;
  right: -50px;
  width: 100%;
  z-index: 0;
  object-fit: contain;
  pointer-events: none;
}

.nonClickable {
  cursor: text;
}

@media screen and (max-width: 1440px) {
  .scheduleHeader {
    margin-top: 60px;
  }

  .scheduleCard {
    padding: 35px 0;
  }

  .scheduleCardLeft {
    margin-right: 100px;
  }

  .scheduleCardTitle {
    margin-right: 0;
  }

  .scheduleCardSubtitle {
    margin-right: 0;
  }

  .scheduleButton {
    padding: 16px 24px;
  }
}

@media screen and (max-width: 1180px) {
  .scheduleCardLeft {
    margin-right: 80px;
  }

  .scheduleHeaderRight {
    display: none;
  }
}

@media screen and (max-width: 930px) {
  .scheduleCardTitle {
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .scheduleSection {
    padding: 16px;
  }

  .scheduleHeader {
    justify-content: center;
    margin-bottom: 0;
  }

  .plusButton {
    display: none;
  }

  .scheduleCard {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }

  .scheduleCardLeftWrapper {
    width: 100%;
    flex-direction: column;
  }

  .scheduleCardLeft {
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  .eventTypeText {
    margin: 0;
  }

  .themeBadge {
    margin-right: 8px;
  }

  .scheduleCardTitle {
    font-size: 16px;
  }

  .scheduleCardSubtitle {
    margin-right: 0;
    margin-left: 61px;
  }
}

@media screen and (max-width: 382px) {
  .scheduleButton {
    padding: 8px 12px;
    font-size: 12px;
  }
}