.page {
  min-height: 100vh;
  background-color: $primary-black;
  box-sizing: border-box;

  @media screen and (min-width: $breakpoint-tablet) {
    padding: 0 24px 24px;
  }
}

.header {
  padding: 1rem;
  box-sizing: border-box;
  padding: 64px 24px 40px;

  @media screen and (min-width: $breakpoint-tablet) {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

.headerArrowLeft {
  position: absolute;
  left: 78px;
  top: 40px;
  cursor: pointer;

  @media screen and (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.main {
  width: 100%;
  min-height: 100vh;
  background-color: $primary-white;
  border-radius: 16px 16px 0px 0px;

  display: flex;
  flex-direction: column;
  row-gap: 24px;

  @media screen and (min-width: $breakpoint-tablet) {
    padding: 16px 0;
    border-radius: 16px;
    align-items: center;

    .leaderboardWrapper {
      width: 640px;
    }
  }

  .mainHeader {
    display: flex;
    justify-content: center;
    position: relative;

    .arrowLeft {
      position: absolute;
      left: 0;
      cursor: pointer;
      padding: 24px;

      @media screen and (min-width: $breakpoint-tablet) {
        display: none;
      }
    }

    .title {
      @include heading-2;
      font-weight: 500;
      text-transform: uppercase;
      padding-top: 24px;

      @media screen and (min-width: $breakpoint-tablet) {
        text-transform: none;
        font-size: 30px;
      }
    }
  }
}

.flexWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;

  @media screen and (min-width: $breakpoint-tablet) {
    align-items: center;
  }
}

.duckContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin-left: auto;
  padding: 43px 0 40px;
  overflow: visible;

  @media screen and (min-width: $breakpoint-tablet) {
    margin: 0 auto;
    padding: 60px 0 48px;
    gap: 60px;
  }
}

.duckWrapper {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  margin-bottom: 50px;

  &::before {
    content: '';
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 77.392px;
    height: 58.044px;
    flex-shrink: 0;
    display: block;
    background-image: url('../../assets/images/gold-medal.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 5;
  }

  &:nth-child(1) {
    &::before {
      content: '';
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      width: 72.391px;
      height: 54.293px;
      display: block;
      background-image: url('../../assets/images/silver-medal.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      z-index: 5;
    }
  }

  &:nth-child(3) {
    &::before {
      content: '';
      position: absolute;
      top: -35px;
      left: 50%;
      transform: translateX(-50%);
      width: 72.391px;
      height: 54.293px;
      display: block;
      background-image: url('../../assets/images/bronze-medal.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      z-index: 5;
    }
  }
}

.duck {
  position: relative;
  object-fit: contain;
  transition: transform 0.3s ease;
  display: block;
  width: 100%;
  height: 100%;
}

.firstPlace {
  width: 150px;
  height: 150px;
  z-index: 3;

  @media screen and (min-width: $breakpoint-tablet) {
    width: 194px;
    height: 194px;
  }
}

.secondPlace {
  width: 96px;
  height: 96px;
  z-index: 1;

  @media screen and (min-width: $breakpoint-tablet) {
    width: 150px;
    height: 150px;
  }
}

.thirdPlace {
  width: 96px;
  height: 96px;
  z-index: 1;

  @media screen and (min-width: $breakpoint-tablet) {
    width: 150px;
    height: 150px;
  }
}

.duckInfo {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.duckPointsWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-direction: row;
}

.duckPoints {
  @include label-medium;
  display: inline-block;
  margin-top: 5px;
}

.duckName {
  @include paragraph-14;
}

.leaderboardWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.personalRankWrapper {
  width: 100%;
  border: 1px solid var(--Black-10, #e0e0df);
  background: var(--Primary-Beige, #f5ede1);
}

.leaderboardTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

  tr:not(:first-child) {
    @include dottedBreak($primary-black, 1.5px);
  }

  td {
    padding: 8px 4px;

    &:first-child {
      width: 50px;
    }

    &:nth-child(2) {
      width: 40px;
    }

    &:nth-child(3) {
      width: 60px;
    }

    &:last-child {
      width: 80px;
    }
  }
}

.star {
  width: 16px;
}
