.inputWrapper {
  width: 30%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.shareButton {
  width: 100%;
  margin-top: 30px;
}

.shareButton > div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.shareButton > div img {
  margin-right: 0;
  margin-left: 16px;
}

.inviteCodeMain {
  min-height: 45vh;
}
