@use "styles/calc" as *;
@use "styles/variables" as *;

.container {
  width: 100%;
  padding: vw-calc(24) vw-calc(56);
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #f5ede1;
  z-index: 1;

  &:before {
    z-index: -1;
    content: "";
    background-image: url(../../assets/images/noise.webp);
    opacity: 0.15;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    padding: vw-mobile-calc(24) vw-mobile-calc(16);
    overflow-x: hidden;
  }

  .column {
    width: vw-calc(648);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    @media (max-width: 768px) {
      width: 100%;
    }

    &.duckie {
      @media (max-width: 768px) {
        position: absolute;
        left: vw-mobile-calc(165);
        width: vw-mobile-calc(347);
      }
    }

    &:not(:last-child) {
      margin-right: vw-calc(30);
    }

    .areas {
      width: vw-calc(112);
      color: $primary;
      font-family: "PP Neue Montreal Mono", sans-serif;
      font-weight: 500;
      font-size: vw-calc(16);
      text-overflow: ellipsis;

      &.desktop {
        display: block;
      }

      &.mobile {
        display: none;
      }

      @media (max-width: 768px) {
        &.desktop {
          display: none;
        }

        &.mobile {
          display: block;
          margin-bottom: vw-mobile-calc(80);
        }

        width: vw-mobile-calc(169);
        font-size: vw-mobile-calc(14);
      }
    }

    .duckieArea {
      position: relative;
      width: 100%;
      height: vw-calc(818);
      margin-top: 52px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      @media (max-width: 768px) {
        height: vw-mobile-calc(423);
        transform: rotate(10deg);
        margin-top: 0;
      }

      .images {
        position: sticky;
        width: vw-calc(476);
        height: vw-calc(580);
        top: vw-calc(0);

        @media (max-width: 768px) {
          width: vw-mobile-calc(347);
          height: vw-mobile-calc(423);
        }

        .duckie {
          position: relative;
          margin-top: 13px;
          width: vw-calc(384);
          height: vw-calc(417);

          @media (max-width: 768px) {
            margin-top: 0;
            width: vw-mobile-calc(280);
            height: vw-mobile-calc(304);
          }

          .duckImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .vinyl {
          position: absolute;
          bottom: 40px;
          left: vw-calc(165);
          width: vw-calc(294);
          height: vw-calc(294);
          display: flex;
          align-items: center;
          justify-content: center;

          @media (max-width: 768px) {
            left: vw-mobile-calc(115);
            width: vw-mobile-calc(215);
            height: vw-mobile-calc(215);
            bottom: vw-mobile-calc(30);
          }

          .vinylWrapper {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .ellipse {
            cursor: pointer;
            position: relative;
            display: flex;
            min-width: vw-calc(96);
            min-height: vw-calc(96);
            border-radius: 50%;
            background-color: #e4573e;
            z-index: 4;
            align-items: center;
            justify-content: center;

            @media (max-width: 768px) {
              min-width: vw-mobile-calc(58);
              min-height: vw-mobile-calc(58);
            }

            .play {
              width: vw-calc(37);
              height: vw-calc(54);
              transform: rotate(5deg);

              @media (max-width: 768px) {
                width: vw-mobile-calc(24);
                height: vw-mobile-calc(35);
              }
            }
          }

          .vinylImage {
            width: vw-calc(294);
            height: vw-calc(294);
            align-self: center;
            position: absolute;
            z-index: 1;

            @media (max-width: 768px) {
              width: vw-mobile-calc(215);
              height: vw-mobile-calc(215);
            }
          }
        }
      }
    }

    .paragraph {
      color: #171615b2;
      font-family: "PP Neue Machina";
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: -1px;
      width: 459px;

      @media (max-width: 768px) {
        font-size: vw-mobile-calc(18);
        line-height: vw-mobile-calc(26);
      }

      @media (max-width: 992px) {
        width: 100%;
      }

      &Br {
        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    .stats {
      max-width: 580px;
      margin-top: vw-calc(120);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 125px;
      column-gap: vw-calc(109);

      @media (max-width: 768px) {
        margin-top: vw-mobile-calc(88);
        row-gap: vw-mobile-calc(153);
        column-gap: vw-mobile-calc(65);
        margin-bottom: vw-mobile-calc(175);
      }

      .stat {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: vw-calc(130);

        @media (max-width: 768px) {
          height: vw-mobile-calc(110);
        }

        .number {
          color: $tertiary;
          font-size: 100px;
          font-weight: 500;
          letter-spacing: -5px;
          font-feature-settings: "ss12" on;
          line-height: 100px;

          @media (max-width: 768px) {
            font-size: vw-mobile-calc(72);
            line-height: vw-mobile-calc(72);
          }
        }

        .label {
          margin-top: 16px;
          color: $primary;
          font-size: vw-calc(14);
          font-weight: 500;
          text-transform: uppercase;
          line-height: vw-calc(14);

          @media (max-width: 768px) {
            font-size: vw-mobile-calc(14);
            line-height: vw-mobile-calc(14);
          }
        }
      }
    }
  }
}
