.header {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}

.backButton {
  position: absolute;
  left: 1.5rem;
  top: 1rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.title {
  @include heading-2;
  font-weight: 500;
  color: black;
}

.content {
  background: white;
  position: relative;
  max-width: $breakpoint-desktop;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  padding: 20px;
  width: 100%;
  padding-bottom: 40px;
}

.notificationWrapper {
  padding-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  @media screen and (min-width: $breakpoint-desktop) {
    margin: 0 auto;
  }
}

.notificationsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 35px;
}

.noNotificationsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
  margin: 0 30px;
}

.noNotificationsTitle {
  @include heading-3;
  color: $black-50;
  margin-top: 1.5rem;
}

.noNotificationsLabel {
  @include paragraph-14;
  color: $black-50;
  margin-top: 6px;
}
