.title {
  color: #eaeaea;
  text-align: center;
  font-size: 284.571px;
  font-style: normal;
  font-weight: 500;
  line-height: 341.486px; /* 120% */
  letter-spacing: -11.916px;
  text-transform: uppercase;
}
