@use '../../styles/mixins';
@import 'styles/calc.scss';

h1,
h2,
h3,
p,
div {
  margin: 0;
  padding: 0;
}

.containerWrapper {
  padding-top: 523px;
  position: relative;
  background-color: #065852;

  &:before {
    content: '';
    background-image: url(../../assets/images/noise.webp);
    opacity: 0.15;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1390px) {
    padding-top: 90px;
  }
}

.title {
  position: sticky;
  top: 90px;
  text-align: center;
  font-family: 'PP Neue Machina', sans-serif;
  color: #eaeaea;
  font-size: 284.571px;
  font-style: normal;
  font-weight: 500;
  line-height: 341.486px;
  letter-spacing: -11.916px;

  @media (max-width: 1390px) {
    padding-top: 90px;

    font-size: 69.968px;
    line-height: 87.46px;
    letter-spacing: -3.28px;
  }

  &Container {
    position: relative;
    height: 2244px;
    margin-bottom: 126px;
    bottom: 0;

    @media (max-width: 1390px) {
      height: 1400px;
      margin-bottom: 0;
    }

    @media (max-width: 800px) {
      height: 1080px;
    }
  }

  &Wrapper {
    position: absolute;
    background: url('../../assets/images/split-background.webp') transparent
      bottom / 100% auto no-repeat;

    mix-blend-mode: soft-light;

    width: 100%;
    height: 2244px;

    @media (max-width: 1390px) {
      height: 1400px;
    }

    @media (max-width: 800px) {
      height: 1080px;
    }
  }

  &Bottom {
    position: absolute;
    width: 100%;
    bottom: -143px;
    overflow-x: hidden;

    @media (max-width: 1440px) {
      bottom: -18px;
    }

    &Image {
      margin-left: -128px;
      width: 112%;

      @media (max-width: 1024px) {
        min-width: 505.776px;
        margin-left: -84px;
      }

      @media (max-width: 800px) {
        margin-left: -50px;
      }
    }
  }
}

.stamp {
  width: 436.853px;
  height: 592.916px;
  background-image: url('../../assets/stamp.svg');
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 1390px) {
    width: 237.539px;
    height: 322.398px;
  }

  &Container {
    position: relative;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1390px) {
      margin-top: 64px;
    }
  }

  &:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 379px;
      height: 531px;

      @media (max-width: 1390px) {
        width: 206.081px;
        height: 288.731px;
      }
    }
  }

  &Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 480px;
    margin: 56px;

    @media (max-width: 1390px) {
      height: 261px;
      margin: 30px;
    }

    &Title {
      color: #ff482f;
      font-family: 'PP Neue Machina', sans-serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: 48px;
      letter-spacing: -1px;

      @media (max-width: 1390px) {
        font-size: 26px;
        line-height: 26px;
        letter-spacing: -0.544px;
      }
    }

    &Footer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &Text {
        margin-top: 32px;

        @media (max-width: 1390px) {
          margin-top: 17px;
        }
      }

      &Text h3 {
        color: #171615cc;
        font-family: 'PP Neue Montreal Mono', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;

        @media (max-width: 1390px) {
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.544px;
        }
      }
    }
  }
}

.dottedRulerStamp {
  @include mixins.dottedBreak();
}

.dottedRuler {
  @include mixins.dottedBreak(rgba(255, 255, 255, 0.30));
}

.locationInfo {
  padding: 32px 55px 0 55px;

  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;

  @media (max-width: 992px) {
    padding: 24px 16px 32px 16px;
  }

  &Left {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1024px) {
      justify-content: space-between;
      width: 100%;
    }

    &Button {
      margin-left: 266px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 53px;
      height: 24px;
      border-radius: 50%;
      background-color: #ff482f;
      color: #fff;
      font-family: 'PP Neue Montreal Mono', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0.5px;
      text-transform: uppercase;

      @media (max-width: 768px) {
        margin-left: auto;
      }
    }

    h2 {
      text-wrap: nowrap;
      color: rgba(255, 255, 255, 0.7);

      font-family: 'PP Neue Montreal Mono', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  &Right {
    margin-left: 24px;
    margin-bottom: 56px;
    color: rgba(255, 255, 255, 0.7);
    width: 544px;

    font-family: 'PP Neue Machina', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1px;

    @media (max-width: 1024px) {
      width: 100%;
      margin-bottom: 32px;
      margin-top: 32px;
      margin-left: 0;
      font-size: 18px;
      line-height: 26px;
    }
  }
}

.date {
  margin-top: vw-calc(76);
  padding-left: vw-calc(27);
  position: relative;
  width: 100%;

  &Text {
    display: inline;
    color: #fff;
    text-align: center;
    font-feature-settings: 'ss12' on;
    font-family: 'PP Neue Machina';
    font-size: vw-calc(250.265);
    font-style: normal;
    font-weight: 500;
    line-height: vw-calc(262.265);
    letter-spacing: vw-calc(5.245);
    text-transform: uppercase;
    opacity: 0.2;
    mix-blend-mode: overlay;

    @media (max-width: 992px) {
      font-size: vw-mid-calc(65.491);
      line-height: vw-mid-calc(64.026);
      letter-spacing: vw-mid-calc(1.281);
    }
  }

  &Span {
    display: none;
    position: relative;
    display: inline;
    color: transparent;
    text-align: center;
    font-feature-settings: 'ss12' on;
    font-family: 'PP Neue Machina', sans-serif;
    font-size: vw-calc(268.265);
    font-style: normal;
    font-weight: 500;
    line-height: vw-calc(262.265);
    letter-spacing: vw-calc(5.245);
    text-transform: uppercase;

    &Image {
      position: absolute;
      z-index: 1;
      top: vw-calc(12);
      right: 0;
      left: 0;
      margin: 0 auto;
      width: vw-calc(254);
      height: vw-calc(182);

      @media (max-width: 992px) {
        top: vw-mid-calc(2);
        width: vw-mid-calc(69.273);
        height: vw-mid-calc(49.637);
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: vw-calc(-40);
      right: 0;
      left: 0;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: vw-calc(210.721);
      height: vw-calc(286);
      background-image: url('../../assets/stamp.svg');
      background-size: cover;
      background-repeat: no-repeat;

      transform: rotate(-90deg);

      @media (max-width: 992px) {
        top: vw-mid-calc(-12);
        width: vw-mid-calc(57.47);
        height: vw-mid-calc(78.001);
      }
    }

    @media (max-width: 992px) {
      font-size: vw-mid-calc(65.491);
      line-height: vw-mid-calc(64.026);
      letter-spacing: vw-mid-calc(1.281);
    }
  }
}

.imageBreaker {
  transform: translateY(-50%);
}

.dateBreaker {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  z-index: 3;

  .breakerPadding {
    width: 100%;
    height: 70px;
    position: relative;
    background-color: #f5ede1;

    &:before {
      content: '';
      background-image: url(../../assets/images/noise.webp);
      opacity: 0.15;
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }

  @media (max-width: 992px) {
    height: 30px;

    .breakerPadding {
      height: 0;
    }
  }
}
