.codeInput {
  margin-top: 82px;
}

.message,
.error {
  text-align: center;
  @include paragraph-14;
}

.message {
  color: $black-70;
}

.error {
  color: $error-light;
}

.button {
  width: 100%;
  margin-top: auto;
}
