.reward {
    display: flex;
    flex-direction: column;
    padding: 16px 12px;
    gap: 12px;
    width: 50%;
    position: relative;

    h3 {
        @include heading-2;
        font-weight: 500;
        text-transform: uppercase;

        @media (max-width: $breakpoint-tablet) {
            @include heading-3;
        }
    }

    .dottedBorderTopHorizontal {
        @include dottedBreak($size: 1px);
        position: absolute;
        top: 0;
        left: 2px;
        width: 98.5%;
      }
      
      .dottedBorderLeftVertical {
        @include dottedBreakVertical($size: 1px);
        position: absolute;
        left: 0px;
        top: 0.5px;
      }
      
      .dottedBorderBottomHorizontal {
        @include dottedBreak($size: 1px);
        position: absolute;
        bottom: -1px;
        left: 2px;
        width: 98.5%;
      }
      
      .dottedBorderRightVertical {
        @include dottedBreakVertical($size: 1px);
        position: absolute;
        right: -1px;
        top: 0.5px;
      }
}