.dots {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &.vertical {
    flex-direction: column;
    width: auto;
  }

  &.black {
    .dot {
      background-color: #171615;
    }
  }

  &.white {
    .dot {
      background-color: #fff;
    }
  }
}
