.tableContainer {
  background: white;
  border-radius: 8px;
  color: #5C5C5C;
  font-family: "SF Pro Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}