.container {
  display: flex;
  flex-direction: column;
  min-height: 640px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.33px;
  margin: 0;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  margin-bottom: 4px;
}

.subtitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}

.label {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 24px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  border-radius: 12px;
  background: #fff;
  width: 100%;
  height: 56px;
  cursor: pointer;
  margin-top: auto;
}
