:root {
  --time: 30s;
}

.scrollingTitle {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  margin-bottom: -65px;

  .content {
    display: flex;
    align-items: center;

    .people {
      position: absolute;
      z-index: 1;

      img {
        margin: -5px 0;

        &:nth-of-type(1) {
          margin-left: 110px;
        }

        &:nth-of-type(2) {
          margin-left: 495px;
        }

        &:nth-of-type(3) {
          margin-left: 465px;
        }

        &:nth-of-type(4) {
          margin-left: 464px;
        }

        &:nth-of-type(5) {
          margin-left: 359px;
        }
      }
    }

    animation: slide var(--time) linear infinite;

    h1,
    img {
      margin-right: 40px;
      z-index: 2;
    }

    @keyframes slide {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }

    h1 {
      color: #eaeaea;
      text-align: center;
      leading-trim: both;
      text-edge: cap;
      font-family: Arial, Helvetica, sans-serif; /* Change later */
      font-size: 120px;
      font-style: normal;
      font-weight: 500;
      line-height: 144px; /* 120% */
      letter-spacing: -5.025px;
      text-transform: uppercase;
    }
  }
}
