:root {
  --time: 30s;
}

.scrollingTitle {
  overflow: hidden;
  white-space: nowrap;

  display: flex;

  .content {
    display: flex;
    align-items: center;

    animation: slide var(--time) linear infinite;

    h1,
    img {
      margin-right: 40px;
    }

    @keyframes slide {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }

    h1 {
      color: #eaeaea;
      text-align: center;
      leading-trim: both;
      text-edge: cap;
      font-family: Arial, Helvetica, sans-serif; /* Change later */
      font-size: 120px;
      font-style: normal;
      font-weight: 500;
      line-height: 144px; /* 120% */
      letter-spacing: -5.025px;
      text-transform: uppercase;
    }
  }
}
