.button {
  width: 342px;
  height: 52px;
  background-color: #e0553f;
  padding: 12px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
