.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(#171615, 0.5);
  z-index: 99;

  display: grid;
  grid-template-rows: 1fr auto;

  @media screen and (min-width: $breakpoint-tablet) {
    display: block;
    height: unset;
    width: 311px;

    top: unset;
    right: unset;
    left: 72px;
    bottom: 64px;

    max-height: 60vh;
    overflow: hidden;
  }

  .closePopup {
    width: 100%;
    height: 100%;
    cursor: pointer;

    @media screen and (min-width: $breakpoint-tablet) {
      display: none;
    }
  }

  .container {
    width: 100%;
    background-color: white;
    border-radius: 24px 24px 0 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media screen and (min-width: $breakpoint-tablet) {
      border-radius: 8px;
    }

    .logoHeader {
      width: 100%;
      min-height: 76px;
      height: 76px;
      background-color: $black-70;
      display: flex;
      justify-content: center;
      align-items: center;

      &.rated {
        background-color: #1a5c57;
      }

      .logo {
        height: 22px;

        filter: brightness(0) invert(1);
      }

      .closeIcon {
        display: none;

        @media screen and (min-width: $breakpoint-tablet) {
          display: block;
          position: absolute;
          top: 16px;
          right: 16px;
          height: 16px;
          width: 16px;
          opacity: 0.7;
          cursor: pointer;
        }
      }
    }

    .content {
      width: 100%;
      padding: 32px 24px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      .ratingRow {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .companyName {
          @include tag-14;
          text-transform: uppercase;
        }

        .rating {
          color: $black-50;
          font-family: NeueMontrealMono;
          font-size: 12px;
          line-height: 12px;
          font-weight: 500;
          letter-spacing: 0.24px;
          text-transform: uppercase;

          &.rated {
            color: $primary-black;
            span {
              color: #fa5240;
            }
          }
        }
      }

      .interestsTitleRow {
        display: flex;
        align-items: center;
        gap: 24px;

        .interestsTitle {
          @include tag-14;
          color: rgba(23, 22, 21, 0.5);
          text-transform: uppercase;
        }

        .dottedBreak {
          @include dottedBreak(rgba(#171615, 0.5), 2px);
        }
      }

      .interestsContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        overflow-y: scroll;
        max-height: 40vh;

        @media screen and (min-width: $breakpoint-tablet) {
          max-height: 20vh;
        }

        .interest {
          color: rgba(23, 22, 21, 0.5);
          font-family: NeueMontrealMono;
          font-size: 14px;
          line-height: 14px;
          font-weight: 500;
          letter-spacing: 0.14px;
          text-transform: uppercase;

          padding: 16px;
          border-radius: 4px;
          background: $black-5;
          display: flex;

          &.rated {
            color: $primary-muted-orange;
            border-radius: 4px;
            border: 1px solid $primary-muted-orange;
            background: none;
          }
        }
      }

      .infoMessage {
        display: flex;
        align-items: flex-start;
        gap: 8px;

        .icon {
          width: 24px;
          height: 24px;
          flex-shrink: 0;
        }

        .message {
          @include paragraph-14;
          color: $black-70;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: -0.14px;
        }
      }

      .rateButton {
        width: 100%;
      }
    }
  }
}
