.circularButton {
  font-size: 20px;
  font-weight: 400;

  box-sizing: border-box;
  height: 56px;
  padding: 0 24px;
  border-radius: 30px;
  cursor: pointer;

  border: none;
  background-color: white;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background-color: color-mix(in srgb, #fff 90%, #000 10%);
  }
}
