.invitation-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: Inter;

  h3 {
    font-size: 1.25rem;
    @include paragraph-14;
    color: $black-50;
    font-family: Inter;
    text-align: left;
    width: 100%;
  }

  .code-inputs {
    display: flex;
    gap: 0.75rem;
    justify-content: space-evenly;
    width: 100%;
  }

  .code-input-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .minus {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: $black-50;
  }

  .code-box {
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid $black-50;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    outline: none;
    text-transform: uppercase;

    &:focus {
      border-color: $primary-muted-orange;
      transform: scale(1.05);
    }

    &:not(:focus):hover {
      border-color: $black-50;
    }
  }
}
