.navigationItem {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  gap: 8px;

  color: #929292;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
  letter-spacing: 0.28px;

  &:not(.fullWidth) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: fit-content;
  }

  justify-content: flex-start;
  transition: 100ms;
  border-radius: 4px;
  box-sizing: border-box;

  .expandIcon {
    margin-left: auto;
    rotate: -90deg;
    transition: 100ms;
  }

  &.selected {
    color: $color-muted-orange;
    .expandIcon {
      rotate: 0deg;
    }

    .icon,
    .expandIcon {
      * {
        fill: $color-muted-orange;
      }
    }
  }
}
