.interestsSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;

  h3 {
    color: $primary-black;
    font-family: NeueMontrealMono;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
  }

  .interestsCardsWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
  }
}
