.recommendedCompany {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 24px;
  gap: 16px;

  &.first {
    border: 1px solid $black-10;
    background: $primary-beige;

    .content {
      .interestsWrapper {
        .interest {
          @include label-small;
          color: $primary-white;
          border-radius: 4px;
          border: none;
          background: $primary-muted-orange;
        }
      }
    }
  }

  .numberWrapper {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      @include tag-16;
      color: $black-50;
    }
  }

  .content {
    .companyName {
      @include heading-3;
      text-transform: uppercase;
      margin-bottom: 8px;
    }

    .interestsWrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      width: 100%;

      .interest {
        @include paragraph-14;
        display: flex;
        align-items: center;
        height: 40px;
        padding: 16px;
        border-radius: 4px;
        border: 1px solid $black-10;
        background: $black-5;
      }
    }
  }
}
