.profileStat {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @media screen and (min-width: $breakpoint-tablet) {
    align-items: center;
  }

  .label {
    @include paragraph-14;
    color: $black-50;
  }

  .valueWrapper {
    display: flex;
    align-items: center;
    gap: 4px;

    .value {
      @include label-large;
    }

    .star {
      width: 24px;
      height: 22px;
    }
  }
}
