.passwordsInputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.changePasswordsContainer {
  min-height: 56vh;

  @media screen and (max-width: $breakpoint-tablet) {
    min-height: 76vh;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
