.passwordsInputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.changePasswordsContainer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
