.header{
    color: $primary-white;
    font-family: "NeueMachina";
    margin: 90px 0 40px 0;

    h1{
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        line-height: 48px; /* 120% */
        letter-spacing: -0.4px;
    }

    .headerOptionsWrapper{
        display: flex;
        gap: 7px;
        justify-content: center;
    }
}
