.wrapper {
  background-color: $primary-black;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  position: relative;
}

.pageName {
  color: $primary-background;
  height: 116px;
  display: flex;
  justify-content: left;
  align-items: center;

  .pageTitle {
    text-transform: uppercase;
    @include heading-2;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.24px;
    padding-left: 24px;
    padding-top: 64px;
    padding-bottom: 24px;
  }

  .closeIcon {
    display: none;
  }

  @media (min-width: $breakpoint-tablet) {
    .closeIcon {
      display: flex;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 44px;
      right: 72px;
    }
    .pageTitle {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      padding-top: 96px;
      padding-bottom: 40px;
    }
  }
}

.duckContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 70px;

  @media (min-width: $breakpoint-tablet) {
    justify-content: center;
    padding-top: 30px;
  }

  .duckImage {
    width: auto;
    height: auto;
    max-width: 250px;
    margin-bottom: -80px;
    margin-right: -100px;

    @media (min-width: $breakpoint-tablet) {
      justify-content: center;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 16px 16px 0 0;
  background-color: $primary-background;
  box-shadow: 0px -4px 20px 0px rgba(23, 22, 21, 0.3);
  flex-grow: 1;
  justify-content: space-between;
  padding-bottom: 48px;
  position: relative;
  z-index: 2;

  @media (min-width: $breakpoint-tablet) {
    box-shadow: none;
    justify-content: flex-start;
    border-radius: 16px;
  }
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
  padding-top: 40px;

  @media (min-width: $breakpoint-tablet) {
    justify-content: center;
    padding-top: 40px;
  }
}

.title {
  @include heading-2;
  font-weight: 500;
  text-align: left;
  color: $primary-black;
  line-height: 28px;
  letter-spacing: -0.24px;
  max-width: 100%;
  text-align: center;
}

.closeIcon {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 0.417px;
  justify-content: center;
  align-items: center;

  @media (min-width: $breakpoint-tablet) {
    display: none;
  }
}

.textContainer {
  @include paragraph-16;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 24px;
  gap: 32px;

  @media (min-width: $breakpoint-tablet) {
    margin: 0 auto;
    max-width: 422px;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 24px;
  gap: 12px;
  margin-top: auto;
  transition: transform 0.3s ease;

  @media (min-width: $breakpoint-tablet) {
    margin: 0 auto;
    min-width: 470px;
    padding-top: 48px;
  }
}

.buttonContent {
  display: flex;
  align-items: center;
}

.inputContainer {
  @include paragraph-16;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 24px;
  gap: 32px;

  @media (min-width: $breakpoint-tablet) {
    margin: 0 auto;
    min-width: 470px;
    padding-top: 24px;
    gap: 48px;
  }
}
