.wrapper {
  background-color: $primary-black;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  position: relative;
}

.pageName {
  color: $primary-background;
  height: 116px;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: transparent;

  .pageTitle {
    text-transform: uppercase;
    @include heading-2;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.24px;
    padding-left: 24px;
    padding-top: 64px;
    padding-bottom: 24px;
    position: relative;
    z-index: 1;
  }

  .closeIcon {
    display: none;
  }

  @media (min-width: $breakpoint-tablet) {
    .closeIcon {
      display: flex;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 44px;
      right: 48px;
      z-index: 1;
    }

    .pageTitle {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      padding-top: 96px;
      padding-bottom: 60px;
      z-index: 1;
    }
  }
}

.duckContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 70px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -150px;
    left: 0;
    width: 100%;
    height: 200%;
    background-image: url('../../assets/images/magla.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    z-index: 0;
  }

  @media (min-width: $breakpoint-tablet) {
    justify-content: center;
    padding-top: 30px;

    &::before {
      width: 50%;
      height: 100%;
      top: 0;
      left: 0;
      background-position: left center;
    }

    &::after {
      content: '';
      position: absolute;
      top: -130px;
      right: 0;
      width: 50%;
      height: 100%;
      background-image: url('../../assets/images/magla.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right center;
      opacity: 0.8;
      z-index: 0;
      transform: rotate(180deg);
    }
  }

  .duckImage {
    width: auto;
    height: auto;
    max-width: 250px;
    margin-bottom: -80px;
    margin-right: -100px;
    position: relative;
    z-index: 1;

    @media (min-width: $breakpoint-tablet) {
      justify-content: center;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 16px 16px 0 0;
  background-color: $primary-background;
  box-shadow: 0px -4px 20px 0px rgba(23, 22, 21, 0.3);
  flex-grow: 1;
  justify-content: space-between;
  padding-bottom: 48px;
  position: relative;
  z-index: 2;

  @media (min-width: $breakpoint-tablet) {
    box-shadow: none;
    justify-content: flex-start;
    border-radius: 16px;
  }
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
  padding-top: 40px;

  @media (min-width: $breakpoint-tablet) {
    justify-content: center;
    padding-top: 40px;
  }
}

.title {
  @include heading-2;
  font-weight: 500;
  text-align: left;
  color: $primary-black;
  line-height: 28px;
  letter-spacing: -0.24px;
  max-width: 100%;
}

.closeIcon {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 0.417px;
  justify-content: center;
  align-items: center;

  @media (min-width: $breakpoint-tablet) {
    display: none;
  }
}

.textContainer {
  @include paragraph-16;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 24px;
  gap: 48px;

  @media (min-width: $breakpoint-tablet) {
    text-align: center;
    margin: 0 auto;
    max-width: 470px;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 24px;
  gap: 12px;
  margin-top: auto;
  transition: transform 0.3s ease;

  @media (min-width: $breakpoint-tablet) {
    margin: 0 auto;
    min-width: 470px;
    padding-top: 48px;
  }
}

.buttonContent {
  display: flex;
  align-items: center;
}

.inputContainer {
  @include paragraph-16;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 24px;
  gap: 32px;

  @media (min-width: $breakpoint-tablet) {
    margin: 0 auto;
    min-width: 470px;
    padding-top: 24px;
    gap: 48px;
  }
}
