.section {
  color: $primary-black;
  padding: 32px 24px;

  .introduction {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;

    .sectionTitle {
      @include heading-2;
      font-weight: 500;
    }

    .paragraph {
      @include paragraph-16;
    }
  }

  .jobOffersWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 40px;
  }
}
