body {
  background-color: $primary-black;
  min-height: 100vh;
}

.header {
  color: white;
  box-sizing: border-box;
  padding: 64px 24px 40px;

  .title {
    @include heading-2;
    span {
      color: $black-70;
      text-transform: uppercase;
    }
    margin-bottom: 24px;
  }

  .statsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .stats {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }
}

.main {
  width: 100%;
  min-height: 100%;
  background-color: white;
  border-radius: 16px 16px 0px 0px;

  box-sizing: border-box;
  padding: 24px;

  display: flex;
  flex-direction: column;
  row-gap: 24px;

  .buttonsWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
