.header {
  width: calc(100% - 2 * 32px);
  position: fixed;
  top: 32px;
  left: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  justify-items: start;
  z-index: 9999;

  box-sizing: border-box;
  padding: 24px;
  background: transparent;
  transition: 300ms;

  &.blend {
    mix-blend-mode: difference;

    button {
      mix-blend-mode: normal;
    }
  }

  .text {
    color: white;
    margin: 0;
    font-feature-settings:
      'ss09' on,
      'ss07' on,
      'ss06' on,
      'ss08' on,
      'ss03' on;
    font-family: 'PP Neue Montreal Mono', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;

    .separator {
      opacity: 0.5;
    }

    &:nth-of-type(2) {
      margin: 0 auto;
      text-align: center;
    }
  }

  button {
    margin-left: auto;
  }

  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    grid-template-columns: 1fr auto;
    padding: 52px 16px;
    top: 0;
    left: 0;
    width: 100%;

    .text:nth-of-type(2),
    .button {
      display: none;
    }

    button:nth-of-type(1) {
      display: none;
    }

    .hamburger {
      display: block;
    }
  }
}
