.th,
.td {
  border-radius: 5px;
  padding: 10px 10px;
}

.th {
  background-color: #5cc2a045;
  font-weight: 600;
}

.td {
  background-color: #fff;
}

.buttonActions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
