.th, .td{
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;	
    padding: 10px 10px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.th{
    background-color: #5cc2a045;
    font-weight: 600;
}

.td{
    background-color: #fff;
    font-weight: 400;
}