.product {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 12px;
  width: 100%;
  position: relative;

  h3 {
    @include heading-3;
    color: $black-70;
    font-weight: 500;
    text-transform: uppercase;
  }

  @media screen and (max-width: $breakpoint-mobile-lg) {
    padding: 20px 12px;
  }
}

.dottedBorderTopHorizontal {
  @include dottedBreak;
  position: absolute;
  top: 0;
  left: 2px;
  width: 100%;
}

.dottedBorderLeftVertical {
  @include dottedBreakVertical;
  position: absolute;
  left: 0;
  top: 0.5px;
}

.dottedBorderBottomHorizontal {
  @include dottedBreak;
  position: absolute;
  bottom: -2px;
  left: 2px;
  width: 100%;
}

.dottedBorderRightVertical {
  @include dottedBreakVertical;
  position: absolute;
  right: -2px;
  top: 0.5px;
}

.addToCartButton {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 10px;
  background: $primary-beige;
  border-radius: 6px;
  height: 36px;

  @media screen and (max-width: $breakpoint-desktop) {
    border-radius: 0.5rem;
    padding: 10px 1.5rem;
  }
}

.inCart {
  @include tag-14;
  color: $primary-black;
  position: absolute;
  top: 8px;
  right: 67px;
  left: 8px;
  background: $primary-beige;
  border-radius: 6px;
  padding: 4px 6px;
  text-transform: uppercase;

  color: $black-70;
}

.pointsText {
  @include heading-3;
  color: $black-70;
}

.productSupply {
  @include paragraph-14;
  color: $black-30;
}
