@use '../../styles/mixins';
.footer {
  padding: 24px 0px;
  background-color: #171615;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &:before {
    content: '';
    background-image: url(../../assets/images/noise.webp);
    opacity: 0.5;
    mix-blend-mode: hard-light;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &BottomSmallText {
    font-size: 14px;
  }

  .background {
    background-image: url('../../assets/images/footer-background.webp');
    background-size: cover;
    width: 100%;
    height: 729px;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (max-width: 375px) {
      background-image: url('../../assets/images/footer-background-mobile.webp');
    }

    &Wrapper {
      position: relative;
      padding-bottom: 32px;
      margin-bottom: 312px;

      @media screen and (max-width: 430px) {
        margin-bottom: 188px;
      }
    }

    &::before {
      content: '';
      opacity: 0.15;
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 97%;
    }
  }

  .button {
    width: fit-content;
    color: #fff;

    font-feature-settings:
      'ss06' on,
      'ss01' on;
    font-family: 'PP Neue Montreal Mono', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    transition: 300ms;
    padding: 14px 16px;
  }

  .sectionBreaker {
    position: absolute;
    bottom: 20px;
    width: 100%;

    @media screen and (max-width: 970px) {
      height: 30px;
    }
  }
}

.footer:before {
  content: '';
  opacity: 0.15;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.bottomWrapper {
  padding: 0px 32px;
}

.questionsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 220px;
  position: relative;

  @media screen and (max-width: 450px) {
    padding-bottom: 210px;
  }
}

.socialsWrapper {
  display: flex;
  height: fit-content;
  position: absolute;
  bottom: -38px;

  .socialsImage {
    width: 162px;
    height: 162px;
    display: block;
    position: relative;
    top: 0;
    transition: all 0.3s ease-in-out;

    &:hover {
      top: -5px;
    }

    @media screen and (max-width: 650px) {
      width: 106px;
      height: 106px;
      margin-left: -12px;
      margin-right: -12px;
    }

    @media screen and (max-width: 361px) {
      width: 94px;
      height: 94px;
    }
  }
}

.mb54 {
  margin-bottom: 20px;
}

.youtube {
  margin-top: 52px;

  @media screen and (max-width: 650px) {
    margin-top: 68px;
  }
}

.facebook {
  margin-top: 28px;

  @media screen and (max-width: 650px) {
    margin-top: 16px;
  }
}

.linkedin {
  margin-top: 60px;

  @media screen and (max-width: 650px) {
    margin-top: 83px;
  }
}

.instagram {
  height: 162px;

  @media screen and (max-width: 650px) {
    height: 106px;
  }

  @media screen and (max-width: 361px) {
    height: 94px;
  }
}

.mb24 {
  margin-bottom: 24px;
}

.dottedRuler {
  @include mixins.dottedBreak(rgba(255, 255, 255, 0.2));
  margin-top: 10px;
}

.bottomSmallTextWrapper {
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 32px;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'PP Neue Machina', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;

  @media screen and (max-width: 1032px) {
    flex-direction: column;
    text-align: center;
  }
}
