@keyframes slideUpFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  animation: opacityIn 0.5s ease-in-out;

  .accreditationTerminalImage {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 425px;
    animation: slideUpFromBottom 0.7s ease-out;
    transform-origin: bottom;
  }

  .terminalClosing {
    transform: translateY(100%);
    transition: transform 0.7s ease-in-out 1s;
  }

  .accreditationPaperContainer {
    width: 85%;
    position: absolute;
    bottom: 50px;
    height: 100vh;
    left: 7.5%;
    max-width: 320px;
    overflow-y: hidden;
    animation: opacityIn 1s ease-out;
    transform-origin: bottom;

    .accreditationPaper {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(100%);

      .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 24px;
        color: #000;

        button {
          padding: 8px 8px 5px 8px;
          border: none;
          background-color: rgba(0, 0, 0, 0.06);
          border-radius: 4px;
        }
      }

      .accreditationRippedPaperImage {
        width: 100%;
        height: 30px;
        position: absolute;
        top: -10px;
        left: 0;
      }

      .accreditationPaperTextureImage {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }

      .accreditationRecieptText {
        width: 100%;
        height: auto;
        padding: 0 22px;
      }

      .qrCodeImage {
        width: 160px;
        height: auto;
        align-self: center;
        margin-top: 20px;
        margin-bottom: 60px;
      }
    }

    @keyframes rotateAndTranslate {
      0% {
        transform: rotate(0deg);
      }
      25% {
        transform: rotate(20deg); /* Rotate first */
      }
      100% {
        transform: rotate(20deg) translateY(-100%); /* Then translate up */
      }
    }

    .paperClosing {
      transform-origin: bottom right; /* Keep the bottom-right corner fixed */
      animation: rotateAndTranslate 2s ease-in; /* Total duration of the animation */
    }

    .paperOnSecondVisit {
      transform: translateY(0);
    }

    .bottomShade {
      width: 100%;
      height: 55px;
      position: absolute;
      bottom: 0;
      left: 0;
      animation: slideUpFromBottom 0.7s ease-out;
      transform-origin: bottom;
      background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
    }
    .shadeOpenAnimationEnd {
      opacity: 0;
      transition: all 1s ease-in-out;
    }
  }
  .paperClosingContainer {
    overflow: visible;
  }
}

.wrapperOpen {
  display: block;
}

.wrapperClosing {
  animation: opacityOut 1s ease-in-out 1s;
}
