.achievementCard {
  background-color: $black-5;
  border-radius: 8px;
  height: 178px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media screen and (min-width: $breakpoint-tablet) {
    height: 230px;
  }

  .mainContent {
    box-sizing: border-box;
    padding: 12px;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .pointsWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      margin-bottom: 4px;

      .star {
        width: 24px;
        height: 22px;
        scale: 0.7;
        fill: $black-70;
      }

      .points {
        @include heading-2;
        color: $black-70;
      }
    }

    .name {
      @include paragraph-16;
      font-weight: 600;
      color: $black-70;
      text-align: center;

      @media screen and (min-width: $breakpoint-tablet) {
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
      }
    }

    .description {
      @include paragraph-14;
      color: $black-70;
      text-align: center;
      font-weight: 400;

      @media screen and (min-width: $breakpoint-tablet) {
        font-size: 14px;
        line-height: 20px;
      }
    }

    .pointsWrapper,
    .name,
    .description {
      opacity: 0.5;
    }
  }

  $completed-message-wrapper-height: 28px;
  .completedMessageWrapper {
    width: 100%;
    height: $completed-message-wrapper-height;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary-black;

    .completedMessage {
      @include paragraph-14;
      color: $primary-white;
      text-align: center;
      margin: 0;
    }
  }

  &.completed {
    background-color: $black-90;

    .mainContent {
      height: calc(100% - $completed-message-wrapper-height);
      .pointsWrapper {
        .star {
          fill: $primary-highlight;
        }
        .points {
          color: $primary-white;
        }
      }

      .name {
        color: $primary-white;
      }

      .pointsWrapper,
      .name,
      .description {
        opacity: 1;
      }
    }
  }
}
