.page {
  height: 100dvh;
  background-color: $primary-black;
  padding: 64px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .titleAndLegend {
    color: white;
    position: relative;
    padding: 0 24px 0 24px;

    .minimize {
      position: absolute;
      right: 24px;
      cursor: pointer;
    }

    .title {
      @include heading-2;
      font-weight: 500;
      text-transform: uppercase;
      margin-right: 32px;
    }

    .legendContainer {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .legendItem {
        display: flex;
        align-items: center;
        gap: 8px;

        &:nth-of-type(1) {
          .legendMarker {
            background-color: #585858;
          }
        }

        &:nth-of-type(2) {
          .legendMarker {
            background-color: #1a5c57;
          }
        }

        .legendMarker {
          width: 16px;
          height: 16px;
          border-radius: 50%;
        }

        .legendText {
          @include tag-14;
          text-transform: uppercase;
        }
      }
    }
  }

  .upperShadow,
  .lowerShadow {
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 10;
    background-image: linear-gradient($primary-black, rgba($primary-black, 0));
  }

  .upperShadow {
    //top: 188px;
  }

  .lowerShadow {
    bottom: 0;
    rotate: 180deg;
  }

  .floorPlanContainer {
    height: 100%;
    width: 100%;
    overflow: scroll;
    padding: 48px 24px;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
