.progressBar{
    background-color: $black-5;
    // width: 100%;
    width: 350px;
    height: 62px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 16px;
}
 
.dots{
    @include dottedBreak($primary-black);

    display: flex;
    margin-inline: 8px;
}