.testimonial {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 65px;
  box-sizing: border-box;
  padding: 20px 124px 80px;
  position: relative;
  width: 100%;

  &:last-of-type {
    padding-bottom: 50px;
  }

  --background-color: #fff --color-1: rgba(23, 22, 21, 0.6);
  --color-2: rgba(23, 22, 21, 0.7);

  &.white {
    --background-color: #fff;
  }

  &.black {
    --background-color: #171615;
    --color-1: rgba(255, 255, 255, 0.7);
    --color-2: rgba(255, 255, 255, 0.7);
  }

  &.beige {
    --background-color: #fcf8eb;
  }

  background-color: var(--background-color);

  .sectionBreaker {
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 45px;
    transform: translateY(-99%);

    mask-image: url('../../assets/images/section-breaker-default.png');
    background: var(--background-color);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
      opacity: 0;
    }
  }

  .leftWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .quote {
      align-self: flex-start;
    }

    .infoWrapper {
      .name {
        margin-bottom: 8px;
      }

      .name,
      .position {
        color: var(--color-1);
        font-family: 'PP Neue Montreal Mono';
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }

  .rightWrapper {
    .text {
      color: var(--color-2);
      font-family: 'PP Neue Machina';
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: -1px;
      max-width: 670px;
    }
  }
}
