@use '../../styles/mixins';
.testimonial {
  display: flex;
  gap: 65px;
  box-sizing: border-box;
  padding: 20px 124px 80px;
  position: relative;
  width: 100%;

  &:last-of-type {
    padding-bottom: 50px;
  }

  --background-color: #fff;
  --border-color: rgba(23, 22, 21, 0.3);
  --testimonial-z-index: 1;

  --color-1: rgba(7, 7, 6, 0.6);
  --color-2: rgba(23, 22, 21, 0.7);

  &.white {
    --background-color: #fff;
    --testimonial-z-index: 1;
  }

  &.black {
    --background-color: #171615;
    --border-color: #4b4b4b;
    --color-1: rgba(255, 255, 255, 0.7);
    --color-2: rgba(255, 255, 255, 0.7);
    --testimonial-z-index: 2;
    bottom: 180px;
  }
  &.beige {
    --background-color: #fcf8eb;
    --testimonial-z-index: 3;
    bottom: 320px;
  }

  @media screen and (max-width: 924px) and (min-width: 769px) {
    &.black {
      bottom: 350px;
    }

    &.beige {
      bottom: 570px;
    }
  }

  @media screen and (max-width: 768px) and (min-width: 451px) {
    &.black {
      bottom: 390px;
    }

    &.beige {
      bottom: 710px;
    }
  }

  @media screen and (max-width: 450px) {
    &.black {
      bottom: 440px;
    }

    &.beige {
      bottom: 740px;
    }
  }

  z-index: var(--testimonial-z-index);
  background-color: var(--background-color);

  .sectionBreaker {
    z-index: var(--testimonial-z-index);
    position: absolute;
    left: 0;
    top: -44px;
    width: 100%;
    height: 45px;

    mask-image: url('../../assets/images/section-breaker.webp');
    background: var(--background-color);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
      opacity: 0;
    }
  }

  .leftWrapper {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 16px;

    .quote {
      align-self: flex-start;
    }

    .infoWrapper {
      .name {
        margin-bottom: 8px;
      }

      .name,
      .title,
      .company {
        color: var(--color-1);
        font-family: 'PP Neue Montreal Mono';
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }

  .rightWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;

    .text {
      padding-left: 32px;

      color: var(--color-2);
      font-family: 'PP Neue Machina';
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: -1px;
      max-width: 670px;

      .horizontalDots {
        display: none;
      }
    }

    .verticalDots {
      @include mixins.dottedBreak(var(--border-color));
      width: 3px;
      height: inherit;
      background-size: 2px 8px;
      background-repeat: repeat-y;

      display: block;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    padding: 24px;
    gap: 32px;
    padding-bottom: 80px;

    .rightWrapper {
      .text {
        .horizontalDots {
          @include mixins.dottedBreak(var(--border-color));
          margin-top: 32px;
          display: block;
        }
      }

      .verticalDots {
        display: none;
      }
    }

    .leftWrapper {
      flex-direction: row;
      gap: 14px;

      .quote {
        width: 17.655px;
        height: 16px;
      }
    }
  }
}
