.testimonial {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 65px;
  box-sizing: border-box;
  padding: 64px 124px;

  --color-1: rgba(23, 22, 21, 0.6);
  --color-2: rgba(23, 22, 21, 0.7);

  &.white {
    background: #fff;
  }

  &.black {
    background: #171615;
    --color-1: rgba(255, 255, 255, 0.7);
    --color-2: rgba(255, 255, 255, 0.7);
  }

  &.beige {
    background: #fcf8eb;
  }

  .leftWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .quote {
      align-self: flex-start;
    }

    .infoWrapper {
      .name {
        margin-bottom: 8px;
      }

      .name,
      .position {
        color: var(--color-1);
        font-family: 'PP Neue Montreal Mono';
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }

  .rightWrapper {
    .text {
      color: var(--color-2);
      font-family: 'PP Neue Machina';
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: -1px;
      max-width: 670px;
    }
  }
}
