.cartContainer {
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  width: 100%;

  @media screen and (max-width: $breakpoint-tablet) {
    height: auto;
  }
}

.contentDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 508px;
  gap: 20px;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
}

.buttonContainer {
  margin-top: 2rem;
}

.noTransactions {
  @include heading-3;
  font-weight: 500;
  text-align: center;
}
