.background {
  background-color: #ff482f;
}

.wrapper {
  background-color: #ff482f;
  padding: 32px;
  padding-top: 200px;
  padding-bottom: 300px;
  max-width: 1440px;
  margin: auto;
}

.header {
  &Container {
    text-align: center;
    margin-bottom: 122px;
  }

  &Title {
    color: #eaeaea;
    font-family: 'PP Neue Machina';
    font-size: 120px;
    font-style: normal;
    font-weight: 500;
    line-height: 144px;
    text-transform: uppercase;
  }

  &SmallText {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'PP Neue Montreal Mono';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
}

.speakers {
  &Wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &Column:not(:last-child) {
    margin-right: 32px;
  }

  &Column:nth-child(2) {
    margin-top: 647px;
  }

  &Column:nth-child(3) {
    margin-top: 112px;
  }

  &Column:nth-child(4) {
    margin-top: 779px;
  }
}

.speaker {
  &Frame {
    height: 401px;
    width: 310px;
    object-fit: contain;
  }

  &Image {
    height: 401px;
    width: 300px;
  }
}

.card {
  margin-bottom: 732px;

  &InfoWrapper {
    text-align: center;
    margin-top: 22px;
  }

  &Name {
    color: #fff;
    font-family: 'PP Neue Machina';
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 8px;
  }

  &Title {
    color: #fff;
    font-family: 'PP Neue Montreal Mono';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
  }
}

@media screen and (max-width: 980px) {
  .wrapper {
    padding: 16px;
  }
  .header {
    &Title {
      font-size: 48px;
      line-height: 80px;
      letter-spacing: -3px;
    }

    &SmallText {
      font-size: 14px;
      margin-bottom: 0;
    }
  }
}
