.section {
  position: relative;
  width: 100%;
}

.background {
  background-color: #ff482f;
  position: relative;
  overflow: hidden;
}

.background:before {
  content: '';
  background-image: url(../../assets/images/noise.webp);
  opacity: 0.15;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.wrapper {
  background-color: #ff482f;
  padding: 32px;
  padding-top: 200px;
  padding-bottom: 0;
  max-width: 1440px;
  margin: auto;
}

.header {
  &Container {
    text-align: center;
    margin-bottom: 122px;
  }

  &Title {
    color: #eaeaea;
    font-family: 'PP Neue Machina', sans-serif;
    font-size: 120px;
    font-style: normal;
    font-weight: 500;
    line-height: 144px;
    text-transform: uppercase;
  }

  &SmallText {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'PP Neue Montreal Mono', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
}

.speakers {
  &WrapperContainer {
    height: 1750px;
    overflow: hidden;

    &.expanded {
      height: auto;
    }

    &:not(.expanded) {
      .speakersColumn:nth-child(3) {
        .card:nth-child(2) {
          opacity: 0.2 !important;
        }
      }

      @media screen and (max-width: 950px) {
        .speakersColumn {
          .card:nth-child(4) {
            opacity: 0.2 !important;
          }
        }
      }
    }
  }

  &Wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 48px;
  }

  &Column:not(:last-child) {
    margin-right: 32px;
  }

  &Column:nth-child(2) {
    margin-top: 647px;
  }

  &Column:nth-child(3) {
    margin-top: 112px;
  }

  &Column:nth-child(4) {
    margin-top: 779px;
  }
}

.speaker {
  &Frame {
    height: 401px;
    width: 310px;
    object-fit: contain;
  }

  &Image {
    height: 401px;
    width: 300px;
  }
}

.card {
  margin-bottom: 732px;
  cursor: pointer;

  &InfoWrapper {
    text-align: center;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &Name {
    color: #fff;
    font-family: 'PP Neue Machina', sans-serif;
    font-size: 24px;
    line-height: 22px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 8px;
    font-weight: 500;

    @media screen and (min-width: 768px) {
      line-height: 32px;
    }
  }

  &Title {
    color: #fff;
    font-family: 'PP Neue Montreal Mono', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
  }
}

.card:last-child {
  margin-bottom: 0px;
}

.modal {
  z-index: 10001;
}

.container {
  position: relative;
  background: black;
  color: white;
  padding: 40px 80px 55px 80px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  max-height: 500px;

  @media screen and (max-width: 600px) {
    padding: 40px;
    max-height: 90vh;
  }
}

.container:before {
  content: '';
  background-image: url(../../assets/images/noise.webp);
  opacity: 0.15;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

.close {
  position: absolute;
  top: 32px;
  right: 32px;

  width: 16px;
  height: 16px;

  cursor: pointer;
}

.modalImage {
  margin-right: 80px;

  @media screen and (max-width: 950px) {
    margin-right: 40px;
  }
}

.modalRight {
  width: 30vw;
  display: flex;
  flex-direction: column;
  position: relative;

  @media screen and (max-width: 1250px) {
    width: 41vw;
  }

  @media screen and (max-width: 1024px) {
    width: 35vw;
  }

  @media screen and (max-width: 871px) {
    width: 100%;
  }
}

.modalSpeakerName {
  color: #eaeaea;
  font-family: 'PP Neue Machina', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -2px;
  text-transform: uppercase;
  margin-bottom: 16px;

  @media screen and (max-width: 400px) {
    font-size: 32px;
  }
}

.modalTitle {
  color: #ff482f;
  font-family: 'PP Neue Machina', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.socialsWrapper {
  display: flex;
  margin-bottom: 32px;

  @media screen and (max-width: 400px) {
    flex-direction: column;
  }
}

.socialsLink {
  color: #fff;
  font-feature-settings:
    'ss06' on,
    'ss01' on;
  font-family: 'PP Neue Montreal Mono', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 8px;
}

.modalDescription {
  color: #fff;
  font-family: 'PP Neue Machina', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  overflow-y: auto;
  word-wrap: break-word;
  white-space: pre-wrap; /* Webkit */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
  text-overflow: ellipsis;
  width: 100%;
}

.modalDescription::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1250px) {
  .container {
    width: 90vw;
  }
}

@media screen and (max-width: 980px) {
  .wrapper {
    padding: 16px;
  }
  .header {
    &Title {
      font-size: 48px;
      line-height: 52px;
      letter-spacing: -3px;
    }

    &SmallText {
      font-size: 14px;
      margin-bottom: 12px;
    }
  }
}

@media screen and (max-width: 950px) {
  .headerContainer {
    margin-bottom: 40px;
  }
  .card {
    margin-bottom: 180px;

    &Name {
      font-size: 18px;
      margin-bottom: 0px;
    }
  }

  .speakersColumn:nth-child(2) {
    margin-top: 140px;
  }
}

@media screen and (max-width: 870px) {
  .modalImage {
    display: none;
  }
}

.expandOption {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 575px;
  bottom: 0;
  left: 50%;
  padding-top: 64px;
  transform: translateX(-50%);
  cursor: pointer;
  color: #171615;
  font-feature-settings:
    'ss06' on,
    'ss01' on;
  font-family: 'PP Neue Montreal Mono';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: 1px;
  text-transform: uppercase;

  @media screen and (max-width: 950px) {
    height: 200px;
  }
}
