.page {
  min-height: calc(100vh - 88px);
  width: 100%;
  background: #0e0e0e;
  padding: 24px;
}

.pageWrapper {
  max-width: 1050px;
  margin: auto;
}

.itemsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  padding: 16px;
  display: flex;
  justify-content: space-between;

  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.item:hover {
  background: rgba(255, 255, 255, 0.05);
  border-color: rgba(255, 255, 255, 0.05);
}

.itemInfo {
  display: flex;
  align-items: center;
  gap: 12px;

  color: #fff;
  font-size: 14px;
  font-weight: 400;

  .itemIndex {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  .itemDescription {
    color: #ffffffcc
  }

  div {
    h4 {
      font-weight: 700;
      margin: 0;
    }

    p {
      opacity: 0.5;
      margin: 0;
    }
  }
}

.itemAction {
  display: flex;
  align-items: center;
  gap: 16px;
}

.statusChip {
  display: flex;
  align-items: center;
  gap: 16px;

  img {
    height: 20px;
    width: 20px;
  }

  p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }
}