.page {
  background-color: $primary-black;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Inter;

  header {
    width: 100%;

    p {
      color: $primary-white;
      font-size: 24px;
      font-weight: 500;
      margin: 64px 0 24px 24px;
    }
  }

  main {
    width: 100%;
    height: 100%;
    background-color: $primary-background;
    border-radius: 12px 12px 0px 0px;
    padding: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .listInfoText {
      margin-top: 24px;
      color: var(--Primary-Black, #171615);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: -0.16px;
    }

    .groupsList {
      margin-top: 24px;
      display: grid;
      grid-template-columns: repeat(1, minmax(300px, 1fr));
      gap: 24px;

      .group {
        width: 100%;
        border-radius: 8px;

        .groupHeader {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          margin-top: 24px;
          padding: 10px;
          border-radius: 8px 8px 0px 0px;
          background: #eddfcb;

          .starIcon {
            display: none;
          }

          div {
            background-color: var(--Succes-Green, #5fb728);
            width: 6px;
            height: 6px;
            border-radius: 100%;
          }

          p {
            color: var(--Black-90, #2d2c2c);
            font-feature-settings: 'ss12' on;
            font-family: 'PP Neue Machina';
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: -0.14px;
            text-transform: uppercase;
          }
        }

        .groupDuration {
          text-align: center;
          color: var(--Black-90, #2d2c2c);
          font-family: 'PP Neue Montreal Mono';
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 18px;
          background: var(--Beige, #f5ede1);
          padding: 12px;
        }

        .companiesList {
          padding: 0 24px 24px;
          background: var(--White, #f5f5f5);
          border-radius: 0px 0px 8px 8px;

          .company {
            display: flex;
            gap: 20px;
            padding-top: 20px;
            padding-bottom: 16px;
            position: relative;
            align-items: center;

            p {
              color: var(--Black-30, #b3b3b2);
              font-family: 'PP Neue Montreal Mono';
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 16px;
            }

            .divider {
              position: absolute;
              bottom: 0;
              @include dottedBreak;
            }
          }

          .applyButton {
            margin-top: 32px;
            width: 100%;
            text-transform: uppercase;
          }
        }

        .applianceDisclaimer {
          display: none;

          border-radius: 0px 0px 16px 16px;
          background: var(--Primary-Beige, #f5ede1);
          border-radius: 0px 0px 8px 8px;
          padding: 12px 24px;

          p {
            color: var(--Primary-Black, #171615);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: -0.14px;
          }
        }
      }

      .groupApplied {
        .groupHeader {
          background: var(--Primary-Muted-orange, #e0553f);

          .starIcon {
            display: block;
          }

          div {
            width: 0;
          }

          p {
            color: var(--White, #ffffff);
          }
        }

        .companiesList {
          border-radius: 0;

          .applyButton {
            background: #171615;
            color: #ffffff;
          }
        }

        .applianceDisclaimer {
          display: flex;
          align-items: start;
          gap: 10px;
        }
      }

      .groupFull {
        .groupHeader {
          background: #171615;

          div {
            width: 0;
          }

          p {
            color: var(--White, #ffffff);
          }
        }
        .groupDuration {
          background: var(--Black-5, #ebebeb);
        }

        .applyButton {
          display: none;
        }
      }
    }
  }

  @media screen  and (min-width: 425px) {
      header{
        text-align: center;
        text-transform: uppercase;
        height: 200px;
      }

      main{
        .tabGroup{
          width: 100%;
          max-width: 400px;
        }

        .listInfoText{
          max-width: 500px;
          text-align: center;
        }

        .groupsList{
          grid-template-columns: repeat(2, minmax(300px, 1fr));
          max-width: 600px;
        }
      }
  }
}
