.page {
  background-color: $primary-black;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $breakpoint-tablet) {
    padding: 24px;
  }

  .header {
    width: 100%;
  }

  .main {
    width: 100%;
    background-color: $primary-background;
    border-radius: $border-radius-page-mobile;
    @include mobileNavigationPadding();

    @media screen and (min-width: $breakpoint-tablet) {
      border-radius: $border-radius-page-desktop;
    }
  }
}
