.page {
  background-color: $primary-black;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    height: 300px; // Temporary
  }

  .main {
    width: 100%;
    height: 100%;
    background-color: $primary-background;
    border-radius: 12px 12px 0px 0px;

    .lectures {
      box-sizing: border-box;
      padding: 16px 24px;
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }
}
