ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.container {
  display: flex;
  flex-direction: row;
  gap: 13vw;
  width: 100%;
  margin-top: 5.5vw;
  justify-content: center;
  align-items: start;

  .choice {
    display: flex;
    flex-direction: column;
    margin-top: 3.5vw;
    width: 31vw;

    .title {
      font-size: 1.5vw;
      font-weight: 800;
      font-family: Fuse;
      color: #fff;
      margin-bottom: 5vw;
    }

    .spots {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      column-gap: 10px;
      row-gap: 24px;
      flex-direction: row;
    }

    .spot {
      box-sizing: border-box;
      width: 7.2vw;
      height: 5vw;
      color: #ffffff;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #110f14;
      border-radius: 10px;
      
      .text{
        font-size: 2.5vw;
        transition: background-color 0.3s, color 0.3s;
        font-family: Fuse;
        height: 100%;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
      }
     

      &:hover{
        cursor: pointer;
        background-color: #a3a3a3;
      }

      &.chosen{
        background-color: #d0d0d0;
        color: #000000;
      }

      &.taken{
        color: rgba(255, 255, 255, 0.20);

        cursor: not-allowed;

        &:hover{
          background-color: #110f14;
        }
      }
    }

    .button{
        width: 100%;
        height: 4vw;
        margin-top: 1.5vw;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px
    }
  }

  .map{
    width: 43.75vw;
    height: auto;
  }
}
