---
- name: Generate random container suffix
  set_fact:
    container_name: "api-{{ lookup('community.general.random_string', length=8, special=false, upper=false) }}"

- name: Copy .env file
  copy:
    content: "{{ lookup('community.sops.sops', role_path + '/files/' + env_file + '.enc.env') }}"
    dest: '/home/{{ ansible_user }}/{{ env_file }}.env'
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
    mode: 0600

- name: Get the ip address of the prometheus production server
  command: aws ec2 describe-instances \
    --region eu-central-1 \
    --profile dump-monitoring \
    --filters "Name=tag:Project,Values=dump-monitoring" "Name=tag:Environment,Values=production" \
    --query 'Reservations[0].Instances[0].PublicIpAddress' \
    --output text
  register: production_ip

- name: Create new api docker container
  docker_container:
    name: '{{ container_name }}'
    image: '{{ docker_image }}'
    pull: true
    restart_policy: unless-stopped
    env_file: '/home/{{ ansible_user }}/{{ env_file }}.env'
    networks:
      - name: traefiknet
    labels:
      traefik.enable: 'true'
      traefik.http.routers.api.rule: 'Host(`{{ api_domain }}`) && !PathPrefix(`/api/metrics`)'
      traefik.http.middlewares.api-retry.retry.attempts: '5'
      traefik.http.middlewares.api-retry.retry.initialinterval: '100ms'
      traefik.http.middlewares.api-cors.headers.accesscontrolallowmethods: '*'
      traefik.http.middlewares.api-cors.headers.accesscontrolalloworiginlist: '*'
      traefik.http.middlewares.api-cors.headers.accesscontrolmaxage: '100'
      traefik.http.middlewares.api-cors.headers.addvaryheader: 'true'
      traefik.http.routers.api.middlewares: 'api-retry, api-cors'
      traefik.http.services.api.loadbalancer.server.scheme: 'http'
      # Router specifically for /api/metrics with IP restriction
      traefik.http.middlewares.metrics-whitelist.ipwhitelist.sourcerange: '{{ production_ip.stdout }}'
      traefik.http.routers.api-metrics.rule: 'Host(`{{ api_domain }}`) && PathPrefix(`/api/metrics`)'
      traefik.http.routers.api-metrics.middlewares: metrics-whitelist

- name: Swap docker containers if new one is healthy
  block:
    - name: Check if api docker container is healthy
      docker_container_info:
        name: '{{ container_name }}'
      register: api
      until: api.exists and api.container.State.Health.Status != 'starting'
      failed_when: api.container.State.Health.Status != 'healthy'
      retries: 20
      delay: 5

    - name: Remove old api docker container
      docker_container:
        name: api
        state: absent

    - name: Rename new api docker container
      shell: docker rename "{{ container_name }}" api

    - name: Cleanup old docker images
      shell: docker image prune -a --filter "until=48h" -f

  rescue:
    - name: Save unhealthy api docker container logs
      shell: docker logs "{{ container_name }}" | sed -e 's/\x1b\[[0-9;]*m//g' > "/home/{{ ansible_user }}/unhealthy-$(date +%s)-{{ container_name }}.log" 2>&1

    - name: Remove new unhealthy api docker container
      docker_container:
        name: '{{ container_name }}'
        state: absent

    - name: Return error
      fail:
        msg: New api docker container is unhealthy
