.row {
  @include label-medium;

  td {
    padding: 24px;
  }
}

td.rankCell {
  padding-right: 8px;
  text-align: center;
  min-width: 20px;
}

td.playerCell {
  padding: 24px 0;
}

.playerContent {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 8px;
  padding-left: 18px;
  text-wrap: wrap;
}

td.pointsCell {
  padding-left: 0;
}

.duckIcon {
  width: 58px;
  height: 58px;
  flex-shrink: 0;
  object-fit: contain;
}

.playerInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.playerName {
  @include paragraph-16;
  text-align: left;
  text-wrap: break-word;
}

.playerLevel {
  @include paragraph-14;
  text-transform: uppercase;
}

.star {
  width: 16px;
  height: auto;
}