.button {
  background-color: $color-muted-orange;
  color: #fff;
  border: 2px solid $color-muted-orange;
  padding: 9px 26px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  display: block;


  &.primary {
    background-color: $color-muted-orange;
  }

  &.secondary {
    background-color: transparent;
    color: $color-muted-orange;
  }

  &:disabled {
    background-color: #ccc;
    color: #fff;
    border: 2px solid #ccc;
    cursor: not-allowed;
  }
}
