.topCompanies {
  box-sizing: border-box;
  padding: 48px 24px;

  display: flex;
  flex-direction: column;

  @media screen and (min-width: $breakpoint-tablet) {
    //display: grid;
    max-width: 422px;
    padding: 48px 0;
    margin: 0 auto;
    //grid-template-columns: 420px 1fr;
    gap: 32px;
  }

  @media screen and (min-width: 1080px) {
    flex-direction: row;
    gap: 100px;
  }

  .mainContent {
    display: flex;
    flex-direction: column;

    .title {
      @include heading-2;
      color: $primary-black;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 12px;
    }

    .description {
      @include paragraph-16;
      color: $primary-black;
      font-weight: 400;
      margin-bottom: 40px;
    }

    .divider {
      @include dottedBreak;
      margin-top: 18px;
      margin-bottom: 32px;
    }

    .noCompanies {
      margin: 0 auto;
      color: $black-50;
      font-family: Inter;
    }
  }

  .duck {
    margin-top: 40px;

    @media screen and (min-width: 920px) {
      margin-top: auto;
    }
  }
}
